<div>
<img src="{{image}}" </img>
<h1>{{title}}</h1>
<hr>
<p>Written by: {{movie.director}}</p>
<p>Summary: {{movie.description}}</p>
<p>Rating: {{movie.rating}}/10</p>
<hr>
<a href="/movies/{{movieId}}/edit"> Edit
<hr>
<a href="/movies">Back</a>
</div>