<div class="row">
    <div class="col-2">
        <img src="{{image}}" alt="">
    </div>
    <div class="col">
        <h1>{{title}}</h1>
        <h3>Director: {{director}}</h3>
        <h4>Stars</h4>
        <ul>
            {{#each stars}}
                <h5><li>{{this}}</li></h5>
            {{/each}}
        </ul>
        <p>{{description}}</p>

        <h6>Showtimes: 
            {{#each showtimes}}
                {{this}}|
            {{/each}}
        </h6>

    </div>
</div>