<a href="/movies/{{movie.id}}">
  <img
    src="{{movie.image}}"
    class="card-img-top object-fit-contain"
    href="/movies/{{movie.id}}"
    alt="{{movie.title}}"
  />
</a>
<div class="card-body text-center text-middle">
  <p class="card-title"><strong>{{movie.title}}</strong></p>
  <a
    type="button"
    href="/movies/{{movie.id}}"
    class="text-decoration-underline"
  >
    See more
  </a>
</div>