
  <div class="movie-details">
    <h2>{{title}} - by {{director}}</p>
   
      <p>{{description}}</p>
      <img class="movie-cover-large" src="{{image}}" alt="{{title}}" />
 
      <a href="/movies">Go back</a>
   
  </div>
</div>