<div class="main-details">
    <div class="movie-details">
        <h2>{{movie.title}}</h2>
        <img class="img-thumbnail img-details" src="{{movie.image}}" alt="movie cover for {{movie.title}}"><br>

        <div>
            <h5>Director: {{movie.director}}</h5>
        </div><br>

        <h5>Stars</h5>
        <div>{{movie.stars}}</div><br>

        <div>{{movie.description}}</div><br>

        <div>{{movie.showtimes}}</div>
    </div>
</div>