<div class="movie-container">
    <img src="<%= movie.image%>" alt="<%= movie.title%> image">
    <h2><%= movie.director %></h2>
    <ul>
      <li><%= movie.stars[0] %></li>
      <li><%= movie.stars[1] %></li>
      <li><%= movie.stars[2] %></li>
    </ul>
    <p><%= movie.description %></p>
    <p><%= movie.showtimes %></p>
</div>