<div class="random-beer-container" >
    <div class="random-beer">

    

            <div class="photo-title">

                <div class="movie-info">
                    <h1>{{chosenMovie.title}}</h1>
                    
                    <div class="movie-data">
                        <h7>{{chosenMovie.stars}}</h7>
                        <h9>Directed by:</h9>
                        <h8>{{chosenMovie.director}}</h8>
                    </div> 

                </div>

                <div class="chosen-movie-img" >
                    <img src={{chosenMovie.image}} alt="">
                </div>
                <div class="times-container">
                    <h10>{{chosenMovie.showtimes}}</h10>
                </div>

            </div>


    </div>
</div>