<div class="random-beer-container" >
    <div class="random-beer">

    
        <h1>Holi</h1>
            <div class="photo-title">
                <div class="random-beer-img" >
                    <img src={{chosenMovie.image}} alt="">
                </div>

                <div class="random-img-info">
                    <div>
                        <h4>{{chosenMovie.title}}</h4>
                        <em>{{chosenMovie.stars}}</em>
                        <p>{{director}}</p>
                    </div>

                    <div class="random-txt">
                        <div>
                            <em>Food pairing:</em>
                            <p>{{food_pairing}}</p>
                        </div>
                        <div>
                            <em>Brewers tips:</em>
                            <p>{{chosenMovie.showtimes}}</p>
                        </div>
                    </div> 

                </div>
            </div>


    </div>
</div>