<div class="detail">
    <img src="{{movie.image}}"/>
    <div class="detail-text">
        <a href="/movies">Go Back</a>
        <h2>{{movie.title}}</h2>
        <h3>Director: {{movie.director}}</h3>
        <ul>
            <h4>Stars</h4>
            {{#each movie.stars}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <div class="showtimes">
            {{#each movie.showtimes}}
                <p> {{this}} |</p>
            {{/each}}
        </div>
    </div>
</div>