<h1>{{title}}</h1>
<p>{{director}}</p>
<p>stars:</p>
{{#each stars}}
  <p> {{this}}</p>
{{/each}}
<img src={{image}} />
<p>{{description}}</p>:
<p>showtimes:</p>
{{#each showtimes}}
  <p>{{this}}</p>
{{/each}}