{{#with movie}}

<div class="movie-detail">
    <div><img src="{{image}}" alt=""></div>

    <div>
        <a class="button-details" href="/movies">Go back</a>
        <h2>{{title}}</h2>
        <p><b>Director: {{director}}</b> </p>

        <h4><b>Stars:</b></h4>
        <li> {{stars}}</li>
        <p><b>Description:</b> {{description}}</p>
        <p><b>Showtimes:</b> {{showtimes}}</p>
    </div>

</div>


{{/with}}