<div class="movies-details">
    {{#each moviesData}}

    <div class="image-movie">
        <img src="{{image}}">
    </div>
    <div class="text">
        <h5>{{title}}</h5>
        <h5>{{director}}</h5>
        <p>{{stars}}</p>
        <p>{{description}}</p>
        <p>{{showtimes}}</p>

    </div>



    {{/each}}
</div>