<div class="container">

    <div class="row align-items-start">

        {{movie}}

        <div class="col-6">

            <div class="card" style="width: 18rem;">

                <img src="{{image}}" class="card-img-top" alt="movie-cover">

            </div>

        </div>

        <div class="col-6">

            <div class="card" style="width: 18rem;">

                <a href="/movies"> Go back </a>

                <div class="card-body">

                    <h5 class="card-title"> {{title}} </h5>

                    <h6 class="card-director"> {{director}} </h6>

                    <p class="card-stars"> Stars: {{stars}} </p>

                    <p class="card-description"> {{description}} </p>

                    <p class="card-showtimes"> {{showtimes}} </p>

                </div>

            </div>

        </div>

    </div>

</div>