<div class="container">
	<h2>Ironhack Cinema</h2>
</div>


<div class="details">
    <div><img class="caratula" src="{{detailMovie.image}}" alt="{{detailMovie.name}}"></div>
    <div class="restDetails">
		<a href="/movies">Go Back </a>
			<h3>{{detailMovie.title}}</h3>
				<h4>Director: {{detailMovie.director}} </h4>
				<h5>Stars: </h5>
				<ul>
					{{#each detailMovie.stars}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
			<p>{{detailMovie.description}}<ps>
			<ul class="time">
            {{#each detailMovie.showtimes}}
                <li class="showtime-list">{{this}}</li>
            {{/each}}
        	</ul>
    </div>
    
</div>
