<div>
    <div>
        <img src="{{image}}" alt="">
    </div>
    <div>
        <h2>{{title}}</h2>
        <strong>Director: {{director}}</strong>
        <p><b>Stars:</b></p>
        <ul>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{description}}</p>
        {{#each showtimes}}
            <span>{{this}} | </span>
        {{/each}}
    </div>
</div