<img src="{{movie.image}}" />
<h2>{{movie.title}}</h2>
<h3>{{movie.director}}</h3>







<ul>
    {{#each movie.stars}}
    <li>
        {{this}}
    </li>

    {{/each}}
</ul>

<p>{{movie.description}}</p>
<span>
    {{#each movie.showtimes}}
    {{this}}
    {{/each}}
</span>
