<div class="container ">
    <div class=" row">


        <div class="col-md-3 card movies-card">
            <div class="card-body">
                <img src="{{image}}" class="movies-img-top" alt="{{title}}">
                <h5 class="movies-title text-center"><b>{{title}}</b></h5>
                <p><b>Director: </b>{{director}}</p>
                <p><b>Stars:</b>
                    <li>{{stars}}</li>
                </p>
                <p><b>Description: </b>{{description}}</p>
                <p><b>Showtimes: </b>{{showtimes}}</p>
                <a class="checkMov" href="/movies">Go Back</a>
            </div>
        </div>





    </div>

</div>