






<div class="container">

    <div class="row align-items-start mt-5 mb-5">
        <div class="col text-center mb-5">
            <img src="{{image}}" class="rounded-start img_details" alt="...">
        </div>
        <div class="col">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{director}}</p>
            <p class="card-text">{{stars}}</p>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><small class="text-muted">{{showtimes}}</small></p>
            <a href="../movies">Volver</a>
        </div>
    </div>
    </div>

</div>



