<h1> The Movie</h1>
<hr>

    <img width "25%" src="{{movie.image}}">
    <br>
     <h2> {{movie.title}}</h2>
   <p>Scope:</p>{{movie.description}}</p>
   <p>Director: {{movie.director}}</p>
    <p>Starting: {{movie.stars}}</p>
     <p>Time: {{movie.showtimes}}</p>
    

