<div>
    <div class="container">
        <div class="row align-items-center details-row">
            <div class="col-3">
                <img src="{{image}}" alt="movie img">
            </div>
            <div class="col-6 text-left">
                <a href="/movies">Go back</a>
                <h1 class="details-h1">{{title}}</h1>
                <h2 class="details-h2">{{director}}</h2>
                <h3 class="details-h3">Stars</h3>
                <ul>
                    <li>{{stars.[0]}}</li>
                    <li>{{stars.[1]}}</li>
                    <li>{{stars.[2]}}</li>
                </ul>
                <p>{{description}}</p>
                <p>{{showtimes}}</p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>