<div style="background-color:rgb(198, 95, 95);justify-content: center;align-items: center; ;width:450px; " class="container d-flex flex-column">
<div>
    <img src="{{movie.image}}" style="margin-top: 30px"/>
<div>
   <h1 style="margin-top: 30px">{{movie.title}}</h1>
   <p>Director/a: {{movie.director}}</p>
   <h5>Stars</h5>
   <ul>
    <li>{{movie.stars.[0]}}</li>
    <li>{{movie.stars.[1]}}</li>
    <li>{{movie.stars.[2]}}</li>
    </ul>
        
        <p style="text-align:center"> {{movie.description}}</p>
        
        
</div>
</div>
</div>