
    <a href="/movies">Go back</a>
    <img src="{{image}}" alt="{{title}}">
    <h3>{{title}}</h3>
    <p>{{director}}</p>
    <p>Stars</p>
    <ul>
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <p>{{description}}</p>
    <p>{{showtimes}}</p>
    
