<h1>
  Detalles
</h1>

    <div><img src="{{image}}">
         <h1>{{title}}</h1>
         <h2>{{director}}</h2>
         <ul>
             <li>
                 {{stars}}
             </li>
         </ul>
         <p>{{description}}</p>
         <p>{{showtimes}}</p>
    </div>

   <a href="/index">Go Back</a>
