<div>   
    <img src="{{movie.image}}" alt="{{movie.title}}" />

    <a href="/movies">Go back</a>

    <h3>{{movie.title}}</h3>
    <h4>{{movie.director}}</h4> 

    <p>{{movie.stars}}</p>

    <p>{{movie.description}}</p>

    <p>{{movie.showtimes}}</p>

</div>


