<div class="detail-container">
    <div>
        <img src="{{image}}" alt="">
    </div>
    <div>
        <h2>{{title}}</h2>
    </div>
    <div>
        <h3>{{director}}</h3>
    </div>
    <div>
        <ul>
            <li>{{stars}}</li>
        </ul>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
    <div>
        <p>{{showtimes}}</p>
    </div>
</div>