<div class="div_details">
    <div>
        <img class="image2" src="{{data.image}}" alt="portada">
    </div>
    <div class="detailed">
        <a href="/movies">Go back</a>
        <h3>{{data.title}}</h3>
        <h4>Director: {{data.director}}</h4>
        <h5>Stars:</h5>
        <ul>{{#each data.stars}}
            <li>{{this}}</li>
            {{/each}}</ul>
        <p>{{data.description}}</p>
        <p>{{#each data.showtimes}}
            {{this}} |
            {{/each}}
        </p>
    </div>
</div>