<div class="row">


    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <a href="/">Go back</a>
            <div class="col-md-4"><img src="{{image}}" class="card-img-top" alt="{{title}}"></div>
            <div class="col-md-8

                <h3 class=" card-text">{{title}}</h3>
                <h2 class="card-text">{{director}}</h2>
                <p class="card-text">{{description}}</p>
                <p class="card-text">{{showtimes}}</p>


            </div>
        </div>
    </div>




</div>