<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="{{image}}" class="card-img-top" alt="{{title}}">

        </div>
        <div class="col-6">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p>{{director}}</p>
                <ul>
                    <li>
                        {{stars}}
                    </li>
                </ul>
                <p>{{description}}</p>

                <p>{{showtimes}}</p>

            </div>

        </div>
    </div>