<figure class="movie">
    <div class="movie__hero">
        <img src="{{image}}" alt="image" class="movie__img">
    </div>
    <div class="movie__content">
        <div class="movie__title">
            <h1 class="heading__primary">{{title}}<i class="fas fa-fire"></i></h1>
            <div class="movie__tag movie__tag--1">IronHack</div>
            <div class="movie__tag movie__tag--2">Cinema</div>
        </div>
        <p class="movie__description">
            {{description}}
        <ul>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        </p>
        <div class="movie__details">
            <p class="movie__detail"><span class="icons icons-red"><i class="fas fa-camera-retro"></i>
                </span>DIRECTOR: {{director}}</p>
            <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span>
                {{showtimes}}
            </p>
            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-file-invoice-dollar"></i>
                </span></p>
        </div>
    </div>
    <div class="movie__price"><a href="/movies" type="button">Return to movies</a></div>
</figure>