
<div class="card mb-3 detailed-movie-container" >

  <div class="row no-gutters movie-border">

    <div class="col-md-3">
      <img src="{{movie.image}}" class="card-img" alt="{{movie.title}} image">
    </div>

    <div class="col-md-8">

      <div class="card-body">

        <h2 class="card-title">{{movie.title}}</h2>
        <h3 class="card-subtitle">Director: {{movie.director}}</h3>
        <h4>Stars</h4>
        {{#each movie.stars}}
            <ul>
                <li>{{this}}</li>
            </ul>
        {{/each}}
        <p class="card-text">{{movie.description}}</p>
        <h4>Showtimes</h4>
        {{#each movie.showtimes}}
            <ul class="stars-flex">
                <li class="block">{{this}}</li>
            </ul>
        {{/each}}
        <a href="/movies" class="btn btn-primary">Go back</a>
        
      </div>

    </div>

  </div>

</div>