<h1>

    <a href="/movies">Go back</a>
    {{#each movies}}
    <p>{{title}}</p>
    <img src="{{image}}" alt="">
    <p>{{director}}</p>
    <p>{{stars}}</p>
    <p>{{description}}
    </p>


    {{/each}}

</h1>