<div class='details-wrap'>
  {{#with movieDetails}}
    <img src='{{image}}' alt='Movie Picture of {{name}}' />
    <div class='details-content'>
      <a class='btn' href='/movies'>go back</a>
      <h1>{{title}}</h1>
      <h2>{{director}}</h2>
      <h3>Stars</h3>
      {{#each stars}}
        <li>{{this}}</li>
      {{/each}}
      <p>{{description}}</p>
      <p>|
        {{#each showtimes}}
          <span> <a href='#'>{{this}}</a> |</span>
        {{/each}}
      </p>
    </div>
  {{/with}}
</div>