
<section>
    <img src="{{image}}" </img>
    <h1>{{title}}</h1>
<hr>
<p>directed by: {{director}}</p>
<p>stars: {{stars}}</p>
<p>description {{description}}</p>
<p>show times: {{showtimes}}</p>

<hr>
</section>


