<h1>Details</h1>

<img src="{{foundMovie.image}}"></img>
<br>

<a href="/movies">Go back</a>
<br>

<h2>{{foundMovie.title}}</h2>
<br>
<h3>{{foundMovie.director}}</h3>
 <h4>Stars</h4> 
<ul>
<li>
 {{foundMovie.stars}} 
</li>
</ul>

<p>{{foundMovie.description}}</p>
<br>

<p>{{foundMovie.showtimes}}</p>

