<h2>Movie Details</h2>
<div>
    <a href="/movies">Go back</a>
    <img src="{{data.image}}" alt="portada">
    <h3>{{data.title}}</h3>
    <h4>Director: {{data.director}}</h4>
    <h5>Stars:</h5>
    <li>{{data.stars}}</li>
    <p>{{data.description}}</p>
    <p>{{data.showtimes}}</p>

</div>