  
   {{#each movieDetails}}
        <img src="{{this.image}}">
            <div>{{this.title}}</div>
            <div>{{director}}</div>
            <div>{{stars}}</div>
            <div>{{description}}</div>
            <div>{{showtimes}}</div>
    {{/each}}

    <a href="/movies">Go back</a>