<h2>Your movie detail</h2>



<div>Movie title: {{movieId.title}}</div>
<div>Director: {{movieId.director}}</div>
<div>Starring: {{movieId.stars}}</div>
<div><img src="{{movieId.image}}" alt=""></div>
<div>Synopsis: {{movieId.description}}</div>
<div>Duration: {{movieId.showtime}}</div>







