<h1> hola soy detalles

</h1>

{{#each movies}}
<img src="{{image}}" alt="">
{{title}}
{{director}}
{{stars}}
{{description}}
{{showtimes}}
{{!-- <a href="/movie/{{_id}}">See More</a> --}}
<hr>
<hr>
{{/each}}