<h2>Ironhack Cinema Display</h2>

<main> 

<a href="/movies"> Go back</a>


<img src='{{this.image}}' />
<h2>{{this.title}}</h2>
<h3>Director: '{{this.director}}'</h3>
<p>Stars: '{{this.stars}}'</p>
<p>{{this.description}} </p>
<p>{{this.showtimes}}</p>



</main>  