<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movies.image}}"/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{movies.title}}</h5>
        <p class="card-text"> description: {{movies.description}} </p>
        <p>Estrellas: {{movies.stars}}</p>
        <p>showtimes: {{movies.showtimes}}</p>
        <p class="card-text"><small class="text-muted">
director: {{movies.director}}
</small></p>
      </div>
    </div>
  </div>
</div>







