<section id="film">

<img class="poster" src={{movie.image}}  alt="{{movie.title}} poster" >
<div class="details">
    <h2>{{movie.title}}</h2>
    <h3>{{movie.director}}</h3>
    <h4>stars</h4>
    <ul>
        {{#each movie.stars}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <p>{{movie.showtimes}}</p>

    <a href="/movies">Go Back</a>
</div>

</section>


