
<section class="container">

    <div class="info">
        
        <img src="{{movieDetails.image}}" alt="{{movieDetails.title}}">
        
        <h1>{{movieDetails.title}}</h1>
        <h2>{{movieDetails.director}}</h2>
        <h3>Stars</h3>
        <li>{{movieDetails.stars}}</li>
        <p>{{movieDetails.description}}</p>
        <p>{{movieDetails.showtimes}}</p>

    </div>
    
</section>

