<a href="/movies" class="btn btn-primary">Go back</a>
<img src="{{movie.image}}" class="card-img" alt="...">
<h1>{{movie.title}}</h1>
<h2>Director: {{movie.director}}</h2>
<div>
    <h3>Stars</h3>
    <ul>
        <li>{{movie.stars.[0]}}</li>
        <li>{{movie.stars.[1]}}</li>
        <li>{{movie.stars.[2]}}</li>
    </ul>
</div>
<p>{{movie.description}}</p>
