
<section class="container">
    {{#each info}}
    
    <div class="info">
        
            <img src="{{this.image}}" alt="{{this.title}}">
        
        <h1>{{this.title}}</h1>
        <h2>{{this.director}}</h2>
        <h3>Stars</h3>
            <li>{{this.stars}}</li>
        <p>{{this.description}}</p>
        <p>{{this.showtimes}}</p>
    </div>
    
    {{/each}}   
</section>

