<main class="subpage detail">
    <div class="content">
        <img src="{{singleMovie.image}}" alt="">
        <h1>{{singleMovie.title}}</h1>
        <h2>directed by {{singleMovie.director}}</h2>
        <p><em>starring {{singleMovie.stars}}</em></p>
        <p>
            {{singleMovie.description}}
        </p>
        <h2>Showtimes:</h2>
        <ul class="showtimes">
            {{#each singleMovie.showtimes}}
                <li>{{@this}}</li>
            {{/each}}
        </ul>
        <a class="btn" href="/movies">see other movies 🍿</a>
    </div>
</main>