<div>
    <img src="{{movieDetails.image}}" alt="{{title}}">

    <h1>{{movieDetails.title}}</h1>
    <h4>Director: {{movieDetails.director}}</h4>
    <h5>Stars</h5>
    <ul>
    {{#each movieDetails.stars}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <p>{{movieDetails.description}}</p>
    <p>
    {{#each movieDetails.showtimes}}
    {{this}} 
    {{/each}}

    <br />
    <br />

    <a href="/movies">Go back</a>
    </p>
</div>
