<h1 class="headline">Movie Details:</h1>

<div class="movie-details">
  <div>
    <img src="{{movie.image}}" alt="" />
  </div>
  <div>
    <a href="/movies">Go Back</a>
    <h2>{{movie.title}}</h2>
    <h4>Director: {{movie.director}}</h4>
    <h4>Stars:</h4>
    {{#each movie.stars}}
      <li>{{this}}</li><br />
    {{/each}}
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
      <li id="showtimes">{{this}} |</li>
    {{/each}}
  </div>
</div>