<div class="container mt-5">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{movie.image}}" class="img-fluid rounded-start" alt="{{movie.title}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="/movies">Go Back</a>
                    <div>
                        <h5 class="card-title">{{movie.title}}</h5>
                        <h6 class="card-title">{{movie.director}}</h6>
                        <p class="card-text">{{movie.stars}}</p>
                        <p class="card-text">{{movie.description}}</p>
                        <p class="card-text">{{movie.showtimes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>