<h1 class="movies-text">Movies</h1>
<hr>

<div class="movies-div">

  {{#each allTheMoviesFromDB}}
  <div class="movie-div">

    <img src="{{image}}" alt="Poster of {{title}}">
    <h3>{{title}}</h3>
    <form action="/movies/{{_id}}" method="GET">
      <a href="/movies/{{_id}}">See More</a>
    </form>

  </div>
  {{/each}}

</div>