
<div class="pelicula">
    <a href="/movies"> Go Back </a>
    <img src="{{pelicula.image}}">
    <p>{{pelicula.title}}</p>
    <p>Director: {{pelicula.director}}</p>
    <ul>
        Stars
        {{pelicula.stars}}
    </ul>
    <p>{{pelicula.description}}</p>
    <p>{{pelicula.showTimes}}</p>
</div>
