<div class="movie-detail-container">

    <div class="movie-image">
        <img src="{{image}}" alt="{{title}}">
    </div>
    
    <div class="movie-text">
        <a href="/movies">Go back</a>
        <h2>{{title}}</h2>
        <h4>Director: {{director}}</h4>
        <p>Stars</p>
        {{#each stars}}
        <ul>
            <li>{{this}}</li>
        </ul>
        {{/each}}
        <p id="description">{{description}}</p>
        {{#each showtimes}}
            <span>{{this}} |</span>
        {{/each}}
        <p id="#back-home-button"><a id="back-home" href="/">Back Home</a></p>
    </div>
    
</div>