<h1>{{movie.title}}</h1>
<hr />
<p>director: {{movie.director}}</p>
<p>stars: {{movie.stars}}</p>
<p>image: {{movie.image_url}}</p>
<p>description:{{movie.description}}</p>
<p>showtimes : {{movie.showtimes}}</p>
<hr />
<a href="/movies">Back</a>