

    <div class="topContainer">
        <h2><img src="{{list.image}}" alt="images"></h2>
        <div class="middleContainer">
        <a href="/movies">Go back</a>
        <h2>{{list.director}}</h2>
        <ul>
        <li>{{list.stars}}</li>
        </ul>
        <p>{{list.description}}</p>
        <p>{{list.showtimes}}</p>
        </div>
        
    </div>

    