<h1>{{movie.title}}</h1>
  <img src="{{movie.image}}" alt="{{movie.title}}">
  <p>Director: {{movie.director}}</p>
  <p>Stars: {{movie.stars}}</p>
  <p>Description: {{movie.description}}</p>
  <p>Showtimes: {{movie.showtimes}}</p>
  <a href="/movies">Back to movies</a>