<section id="details-section">
  <img src={{movie.image}} alt="movie image"/>
  <div>
    <a href="/movies">Go back</a>
    <h1>{{movie.title}}</h1>
    <h2>Director: {{movie.director}}</h2>
    <b>Stars</b>
    <ul>
      {{#each movie.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
      {{this}} |
    {{/each}}
  </div>
</section>