<div class="movie-detail-container">
    <img src="{{movie.image}}" alt="Image of {{movie.title}}">
    <div class="movie-info-container">
        <h1>{{movie.title}}</h1>
        <h2>{{movie.director}}</h2>
        <br>
        <h3>Stars:</h3>
        <ul>
            {{#each movie.stars as |star|}}
                <li>{{star}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <small>
            {{#each movie.showtimes as |showtime| }}
                {{showtime}} |   
            {{/each}}
        </small>
    </div>  
</div>