<div class="card movie" style="width: 25rem;">
    <h2 class="card-title">{{movie.title}}</h2>
    <div>
        <img class="card-img-top" src="{{movie.image}}">
    </div>

    <div>
        <p>{{movie.director}}</p>
    </div>

    <div>
       <p>{{movie.starts}}</p>
    </div>

    <div>
        <p>{{movie.description}}</p>
    </div>
<a href="/movies" class="btn btn-primary">Go Back!</a>
</div>