<h1>{{movie.title}}</h1>
<img src={{movie.image}} alt="movie">
<p>Director: {{movie.director}}</p>
<ul></ul>
{{#each movie.stars}}
<li>{{this}}</li>
{{/each}}
</ul>
<p>Description: {{movie.description}}</p>

<p>Director: {{movie.director}}</p>