<div>
    <img src="{{image}}" alt="{{title}} movie poster">

    <a class="navigation-link" href="/movies">Go back</a>

    <h1>{{title}}</h1>
    <h4>Director: {{director}}</h4>
    <h5>Stars</h5>
    <ul>
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <p>{{description}}</p>
    <p>
    {{#each showtimes}}
    {{this}} 
    {{/each}}
    </p>
</div>
