<div id="movie-details-div">
        <div class="movie">
            
            
            <img class="movie-img" src="{{movie.image}}" alt="">

            <a href="/movies">Go Back</a>
            <p class="card-title">{{movie.title}}</p>
            <p class="card-director">Director: {{movie.director}}</p>

            <ul>
                <h3>Stars</h3>
                {{#with movie.stars}}
                    {{#each this as | star |}}
                        <li>{{star}}</li>
                    {{/each}}
                {{/with}}
            </ul>

            <p class="card-description">{{movie.description}}</p>
            <div class="showtimes-div">
                {{#with movie.showtimes}}
                    {{#each this as | time |}}
                        {{time}} |
                    {{/each}}
                {{/with}}
            </div>
        </div>
</div>