<h2>Edit the Movie: {{movie.title}}</h2>

<form action="/movies/{{movie.id}}/edit" method="post">
    <p>
        <label> Title:
            <input type="text" name="title" value="{{movie.title}}" />
        </label>
    </p>
    <p>
        <label> Director:
            <input type="text" name="director" value="{{movie.director}}" />
        </label>
    </p>

    <p>
        <label> Description:
            <textarea name="description" cols="30" rows="4">{{movie.description}}</textarea>
        </label>
    </p>
    <p>
        <label> Stars:
            {{#each movie.stars}}
            <input type="text" name="stars" value="{{this}}" />
            {{/each}}
        </label>
    </p>
    <p><label>
            {{#each movie.showtimes}}
            <span><input type="text" name="showtime" value="{{this}}" /> | </span>
            {{/each}}
        </label>
    </p>
    <button>Save changes</button>
</form>