<div class="row">
    <div class="left">
        <img src="{{movie.image}}" alt="">
    </div>

    <div class="right">
        <p><a href="/movies">Back</a></p>
        <h2>{{movie.title}}</h2>
        <h3>Director: {{movie.director}}</h3>
        <h4>Stars:</h4>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <p>{{#each movie.showtimes}}
            <li>{{this}}</li>
            {{/each}}
        </p>
    </div>

</div>