<h1>Ironhack Cinema</h1>
<h3>Showtimes</h3>    
    
<div class="movie-details">
    <img src={{movie.image}}>
    <div class="text">
        <a href="../movies">Go back</a>
        <h2>{{movie.title}}</h2>
        <h3>{{movie.director}}</h3>
        <h3>Stars</h3>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <ul class="showtimes">
            {{#each movie.showtimes}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div> 