<h1>Movie detail:</h1>
<a href="/movies">Go back</a>
<ul>
    <li><img src="{{movieDoc.image}}" alt=""></li>
    <li>Title: {{movieDoc.title}}</li>
    <li>director: {{movieDoc.director}}</li>
    <li>Stars: {{movieDoc.stars}}</li>

    <li>Description: {{movieDoc.description}}</li>    
    <li>showtimes: {{movieDoc.showtimes}}</li>
</ul>
