<hr>
<section id="detailed-movie">

    <div class="moviePoster">
        <img src="{{movie.image}}" alt="">
        </div>

     <div class="text-detailed">
        <a href="/movies">Go back</a>
        <p class="title1">{{movie.title}}</p>
        <p class="director">Director: {{movie.director}}</p>
        <p class="stars">Stars</p> 
        <ul>
            {{#each movie.stars}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        </p>
        <p class="description">{{movie.description}}</p>

        <div class="showtime"> 
            {{#each movie.showtimes}}
            <p>{{this}} |</p>
            {{/each}}
        </div>

    </div>

</section>