<h1>DETALLES DE LAS PELIS</h1>

<div class="card">
    <img class="img_card" src="{{image}}" alt="CARATULA PELI">
    <h4>{{title}}</h4>
    <p><strong>{{director}}</strong></p>
    
    <ul>
        <li>{{stars}}</li>
    </ul>
    <p>{{description}}</p>
    <a href="/"><button type="button" class="btn btn-light">INICIO</button></a>
</div>