<img src='{{allMovies.image}}' />
<h1>{{allMovies.title}}</h1>
<hr>
<h2>Directed by: {{allMovies.director}}</h2>

<ul>
    {{#each allMovies.stars}}
    <li>
        {{this}}
    </li>

    {{/each}}
</ul>

<h2>{{allMovies.description}}</h2>
{{#each allMovies.showtimes}}
{{this}}
{{/each}}