<section class="section">
  <div class="columns is-vcentered">
    <div id="photo-details" class="column is-2 mr-4">
      <img  src="{{movie.image}}" alt="">
    </div>
    <div class="column content is-8">
      <a href="/movies" class="button is-ghost has-text-weight-bold has-text-danger pl-0">Go back</a>
      <h1 class="title has-text-primary mb-2 mt-2" > {{movie.title}} </h1>
      <h1 class="is-size-4 mt-0" > {{movie.director}} </h1>
      <h2 class="is-size-5 mt-0"> Stars </h2>
      <ul>
        {{#each movie.stars}}
          <li> {{this}} </li>
        {{/each}}
      </ul>
      <p> {{movie.description}} </p>
      <ul class="ml-0">
        {{#each movie.showtimes}}
          <span class="mr-4">
            {{this}}
          </span>
        {{/each}}
      </ul>
    </div>
  </div>
</section>