<main class="movie-container"> {{!-- to "flexboxed" align item, flex start--}}
    <div class="big-img">
        {{movie.image}}
    </div>

    <div class="movie-info">
        <p><a href="/movies/"></a>go back</p>

        {{#each movie}}
        <h2>{{this.title}}</h2>
        <h3>Director: {{this.director}}</h3>

        <h4>Stars</h4>
        <ul>
            {{#each movie.stars}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>

        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}</p>

{{/each}}

    </div>


</main>