<div class="moviesTitle">
    <h2>Ironhack Cinema</h2>
    <p>Click on the movie to check the showtimes!</p>
    <a href="/">Go back</a>
</div>


<div class="movies">
    <div class="container">
        <div class="row">

            {{#each movies}}
            <div class="col-md-4">
                <article class="movie">
                    <img src="{{image}}" alt="">
                    <h3>{{title}}</h3>
                    <a href="/movie/{{id}}">see more</a>
                </article>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- {{#each movies}}
<img src="{{image}}" alt="">
{{title}}
<a href="/movie/{{id}}">see more</a>
{{/each}} --}}