<section id="detailed-movie">

    <div>
        <img src="{{movie.image}}" alt="">
    </div>
    <div class="text-detailed">
        <a href="/movies">Go back</a> <br>
        <h1 class="title">{{movie.title}}</h1>
        <h3 class="director">Director: {{movie.director}}</h3>
        <p class="stars">Stars
        <ul>
            {{#each movie.stars}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        </p>
        <p class="description">{{movie.description}}</p>
        <div class="showtime">
            {{#each movie.showtimes}}
            <p>{{this}} | </p>
            {{/each}}
        </div>
    </div>
</section>