
<div>
    <h1>{{movie.title}}</h1>
    <h2>{{movie.director}}</h2>
    <h3>Stars</h3>
    <ul>
        {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <p>{{movie.showtimes}}</p>
</div>

<div>
    <img src="{{movie.image}}">
</div>

<a href="/movies">Go back</a>