
<a href="/movies">Go back</a>
<h1>{{movie.title}}</h1>

<img src="{{movie.image}}" alt="Image du film {{movie.title}}">
<h2>{{movie.director}}</h2>
<h3>Stars</h3>
<ul>
    {{#each movie.stars}}
    <li>
        {{this}}
    </li>
    {{/each}}

</ul>


<p>{{movie.description}}</p>
<ul>
    {{#each movie.showtimes}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>