<div class="container">
    <img src="{{movie.image}}" alt="{{movie.title}}">
    <div class="description">
        <a href="/movies">Go Back</a>
        <h2>{{movie.title}}</h2>
        <h4>Director: {{movie.director}}</h4>
        <p><strong>Stars</strong></p>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <p>
            {{#each movie.showtimes}}
            {{this}} |
            {{/each}}
        </p>
    </div>
</div>