<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="movie-details">
    <div class="movie-img">
        <img src={{movie.image}} alt="movie image">
    </div>
    <div class="movie-description">
        <a href="/movies">Go back</a>
        <h2>{{movie.title}}</h2>
        <h4>{{movie.director}}</h4>
        <p>Stars</p>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        {{#each movie.showtimes}}
        <span>{{this}} | </span>
        {{/each}}

    </div>
</div>