<section class="container bckg">

    <article class="row det-block">

        <div class="col-lg-4 col-md-12 col-sm-12 imagen">
            <img src="{{this.image}}">
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 texts">

            <h2>{{this.title}}</h2>

            <hr>

            <h3>Director: {{this.director}}</h3>

            <br>

            <h3>Stars:</h3>
            <ul>
                {{#each this.stars}}
                <li>{{this}}</li>
                {{/each}}
            </ul>

            <br>

            <p>{{this.description}}</p>

            <br>

            <p>{{#each this.showtimes}}{{this}}   |   {{/each}}</p>

            <br>

            <a href="/movies" class="btn btn-info">Go back</a>

        </div>

    </article>

</section>