<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="{{image}}" alt="{{title}}">
    </div>

    <div class="col">
      <a href="/movies">Go back</a>
      <h3 class="h3">{{title}} </h3>
      <p class="font-weight-bold">
        Directed by: <span class="font-weight-normal">{{director}}</span>
      </p>
      <p class="font-weight-bold">Stars:</p>
      <ul>
        {{#each stars as |star|}}
        <li>{{star}}</li>
        {{/each}}
      </ul>
      <p>{{description}}</p>
      <div>
        {{#each showtimes as |showtime |}}
        <span>{{showtime}} |</span>
        {{/each}}
      </div>
    </div>
  </div>
</div>