<div>
    <div class="card mb-3 " style="max-width: 940px;">
        <div class="row g-0 bg-card">
            <div class="col-md-4">
                <img src="{{movie.image.[0]}}" class="img-fluid rounded-start" alt="{{movie.title}}"
                    style="width: 400px;">
            </div>
            <div class="col-md-8">
                <div class="card-body text-start">
                    <h3 class="card-title">{{movie.title}}</h3>
                    <h4 class="card-text">{{movie.director}}</h4>
                    <h5>Stars:</h5>
                    <ul>
                        {{#each movie.stars as |star|}}
                        <li>{{star}}</li>
                        {{/each}}
                    </ul>
                    <p class="card-text">{{movie.description.[0]}}</p>
                    <hr>
                    <tr>
                        {{#each movie.showtimes as |time|}}
                        <td>|{{time}}|</td>
                        {{/each}}
                    </tr>
                </div>
                <a href="/movies" style="text-align: center; ">Go back</a>
            </div>
        </div>
    </div>
</div>