<h2>{{movie.title}}</h2>

<h3>Director: {{movie.director}}</h3>

<h4>Stars:</h4>
    <ul>
        {{#each movie.stars as |star|}}
            <li>{{star}}</li>
        {{/each}}
    </ul>

<p>{{movie.description}}</p>

    <ul>
        {{#each movie.showtimes as |showtime|}}
            <li>{{showtime}}</li>
        {{/each}}
    </ul>