{{#with movie}}
    <div><img src={{image}}></div>
  <div>
    <a class="goBack" href="/views/movies.hbs">Go back</a>
    <h3>{{title}}</h3>
    <h4>{{director}}</h4>



    <p>{{description}}</p>
    <p>{{showtimes}}</p>
  </div>
{{/with}}
