<h1> Hola estas son todas las pelis fredi</h1>


<ul>
  {{#each data}}

      <li>{{title}} <img src="{{image}}" alt="{{title}}"> {{description}} <a href="/details/{{id}}"> See More</a> </li>
    




  {{/each}}
</ul>