<a href="/">Go Back</a>
<div class="row">
    <div>
        <h1>{{title}}</h1>
        <img src="{{image}}" alt="{{title}}">
        <p>{{director}}</p>
        <li>
            {{stars.[0]}}
        </li>
        <li>
            {{stars.[1]}}
        </li>
        <li>
            {{stars.[2]}}
        </li>
        <p></p>
        <p>{{description}}</p>
        <p>{{showtimes}}</p>

    </div>

</div>