<img src="{{image}}" alt="movie-poster">
<hr>
<a href="/movies">Go back</a>
<hr>
<h1>{{title}}</h1>
<hr>
<p>Director: {{director}}</p>
<hr>
<p>Stars: {{stars}}</p>
<hr>
<p> {{description}}</p>
<hr>
<p>{{showtimes}}</p>
<a href="/movies/{{_id}}/edit">Update</a>
<hr>
