
<div class= "movie-detail">
    <div class= "movie-detail-img">
        <img src="{{movie.image}}" alt="">
    </div>

    <div class = "movie-detail-text">
        <h3>{{movie.title}}</h3>
        <h5>Director: {{movie.director}}</h5>
        <h5>Stars</h5>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <p>
            {{#each movie.showtimes}}
                {{this}} |
            {{/each}}
        </p>
    </div>
</div>