
<a href="/movies">Go Back</a>

<img src="{{image}}" alt="{{title}}">
<div>
<p>{{title}}</p>
<p>Director: {{director}}</p>
Stars:
<ul>
{{#each stars}}
<li>{{this}}</li>
{{/each }}
</ul>
<p>{{description}}</p>
<p>{{showtimes}}</p>
</div>

