<div class="column">
    <div class="left">
        <img class="movies-img" src="{{movie.image}}" alt="">
    </div>
    <div class="right">
        <p><a href="/movies">Back</a></p>
        <h2>{{movie.title}}</h2>
        <h3>Director: {{movie.director}}</h3>
        <h4>Stars:</h4>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <p><strong>
                {{#each movie.showtimes}}
                <span>{{this}} | </span>
                {{/each}}
            </strong>
        </p>
    </div>
</div>