<div>
    <div>
        {{#each pelicula}}
            <img src={{image}} alt="">
            <p>{{title}}</p>
            <p>{{director}}</p>
            <p>{{description}}</p>
            <p>{{showtimes}}</p>
        {{/each}}
    </div>
</div>


