<h2>movies details</h2>



<div class="movieContainer">
    <div id="image-box">
        <img src="{{image}}" alt="{{title}}">
    </div>
    <div class="details">
        <a href="/movies">Go Back</a>
        <h2>{{title}}</h2>
        <h5>{{director}}</h5>
        <p>{{description}}</p>
        <h4>Stars:</h4>
        <ul>
            {{#each stars}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <h4>Show Times:</h4>
        <p>{{showtimes}}</p>
    </div>
 
</div>

