<div class="movie">



<img src="{{id.image}}">
<h1>{{id.title}}</h1>
<h2>Director: {{id.director}}</h2>
<h3>Stars</h3>
<ul>
    {{#each id.stars}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p class="description" >{{id.description}}</p>

<h4>Showtimes:</h4>
<div>
    {{#each id.showtimes}}
        {{this}} |
    {{/each}}

</div>

	<a href='/movies'>Back</a>
    
</div>


{{!-- <p>{{id.showtimes}}</p> --}}


	
	
	

		{{#each showTimes}}
			<p>{{this}} </p>
		{{/each}}

	