<a href="/movies"><p>Go back</p></a>

<span>
  <img src="{{movie.image}}" alt="">
</span>
<h2>{{movie.title}}</h2>
<h3>Director: {{movie.director}}</h3>
<ul>
  <li>{{movie.stars}}</li>
</ul>
<p>{{movie.description}}</p>


<p>{{movie.showtimes}}</p>

