<a href="/movies">Go back</a>

{{#each movie}}
<div class="img">
<img src="{{image}}" alt="" srcset="">
</div>
<h1>{{title}}</h1>

{{/each}}
<h2>Director :</h2>
<h2>{{#each movie}}
{{director}}</h2>
{{/each}}
<ul>
{{#each movie.stars}}
<li>{{this}}</li>


{{/each}}
</ul>
{{#each movie}}
<p>{{description}}</p>
{{/each}}
{{#each movie.shwtimes}}

<p>{{this}}</p>

{{/each}}






