<div>
    <img src="{{image}}" alt="movie-image">
    <div>
        <a href="/movies">Go back</a>
        <h1>{{title}}</h1>
        <h2>{{director}}</h2>
        <h3>Stars</h3>
        <ul>
            <li>{{stars}}</li>
        </ul>
        <p> {{description}} </p>
        <p>{{showtimes}}</p>
    </div>
</div>