
    <a href="/movies">
        Go back
    </a>
    <img src="{{image}}" alt="{{title}}"/>
    <h1>{{title}}</h1>
    <h2>Director: {{director}}</h2>
    <h3>Stars</h3>
      <ul>
        {{#each stars}}
         <li>{{this}}</li>
        {{/each}}
        </ul>
    <p>{{description}}</p>

    {{#each showtimes}}
        <span>{{this}} | </span>
    {{/each}}
    