<section class="indivMovie-container">
    <div class="detail-box">
        <img src="{{movie.image}}" alt="">
        <div class="text-box">
            <a href="/movies">Go back!</a>
            <h4>{{movie.title}}</h4>
            <h5>Director: {{movie.director}}</h5>
            <p>Stars:</p>
            {{#each movie.stars}}
                <li>{{this}}</li>            
            {{/each}}            
            <p>{{movie.description}}</p>
            <p>{{movie.showtimes}}</p>
        </div>
    </div>
</section>