<div>
  <img src="{{oneMovie.image}}" alt="{{oneMovie.title}}" class="detail" />
  <div>
    <h1>{{oneMovie.title}}</h1>
    {{oneMovie.director}}
    {{oneMovie.stars}}
    {{oneMovie.desription}}
  </div>
</div>