<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{image}}" alt="{{title}}.img" />
        <div class="card-body">
          <a href="/movie/{{id}}">Go back</a>
          <h4 class="card-title">{{title}}</h4>
          <h5>Director: {{director}}</h5>
          <h5>Stars</h5>
          <ul>
              <li>{{stars[0]}}</li>
              <li>{{stars[1]}}</li>
              <li>{{stars[2]}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>