<a class="btn view-home" href="/movies">Go back</a>

<div class="container">
    <div class="row d-flex jusfity-content-center">
        <div class="col-3">
            <img class="image-movie-details" src="{{image}}" alt="{{title}}">
        </div>
        <div class="col-8 info-film">
            <h2>{{title}}</h2>
            <h4>{{director}}</h4>
            <h5>Stars</h5>
                {{#each stars}}
                <li>{{this}}</li>
                {{/each}}
            <p>{{description}}</p>
            {{#each showtimes}}
            <span>{{this}}|</span>
            {{/each}}
        </div>       
    </div>
</div>
