<img src="{{movie.image}}" alt="">

<h1>{{movie.title}}</h1>

<h3>Director: {{movie.director}}</h3>

<h4>Stars</h4>
<ul>
    <li>{{movie.stars.0}}</li>
    <li>{{movie.stars.1}}</li>
    <li>{{movie.stars.2}}</li>
</ul>

<p>{{movie.description}}</p>

<p>{{movie.times.0}} | {{movie.times.1}} | {{movie.times.2}} | {{movie.times.3}}</p>

<a href="/">Home</a> <a href="/movies">Back</a>