 <h1>Detalles del movie</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
               <img src="{{image}}" alt="movie-photo"> 
        </div>
        <div class="col-md-8">
      
            <a href="/movies">Go back</a>
            <h2>{{title}}</h2>
            <small>{{director}}</small>
            </br>
        
            <p>{{description}}</p>
            <p>{{showtimes}}</p>

        </div>

    </div>
</div>
