<div class="movie-details">
    <div class="movie-image">
        <img src="{{movie.image}}" alt="Movie Banner">
    </div>
    <div class="details">
        <h1>{{movie.title}}</h1>
        <h3>{{movie.director }}</h3>
        <h4>Stars:</h4>
            {{#each movie.stars }}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each }}
        <p>{{movie.description}}</p>

        <h4>Show times:</h4>    

        <p></p>
        {{#each movie.showtimes }}
            {{this}} | 
        {{/each }}
        </p>
          <a href="/movies"> Go back</a>
    </div>

  


</div>