                <div class= "col-4">
                    <div class ="card">
                        <div class="card-body">
        {{#each data }}
                            <img class = "imagen" src=" {{image}}">
                            <h1>{{title}}</h1>
                            <h2>{{director}}</h2>
                            <h2>{{stars}}</h2>
                            <h3>{{description}}</h3>
                            <p> [ {{showtimes}} ]</p>
        {{/each}}
                        </div>
                    </div>
                </div> 