<div class="container container-id">
    <div class="row">
        <div class="col-md-3">
            <img src="{{movieID.image}}" alt="">
        </div>
        <div class="col-md-9">
            <a href="/movies">Go back</a><br><br>
            <h3>{{movieID.title}}</h3><br>
            <h4>{{movieID.director}}</h4><br>
            <strong>
                <p>Stars</p>
            </strong>
            <ul>
                <li>{{this.movieID.stars}}</li>
                <li>{{this.movieID.stars}}</li>
                <li>{{this.movieID.stars}}</li>
            </ul>
            <p>{{movieID.description}}</p><br>
            <p>{{movieID.showtimes}}</p>
        </div>

    </div>
</div>