<h2>Ironhack Cinema</h2>
<h3>Click on the movie to check the showtimes!</h3>

<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col-md-4 mb-3">
            <div class="card card-body">
                <img src="{{image}}" class="card-img-top" alt="{{peliculas}}">
                <h5 class="card-title">{{title}}</h5>
                <a href="/movies/movies-details/{{_id}}" class="btn btn-black" {{title}}>See more</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>