<img src="{{movie.image}}" alt="movie image">
<h2>{{movie.title}}</h2>
<h3>{{movie.director}}</h3>
<h4>Stars</h4>
<ul>
    {{#each movie.stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{movie.description}}</p>
<p>{{movie.showtimes}}</p>