<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
  <body>
    <h1>All Movies</h1>
    <ul class="movies-list">
      {{#each movies}}
      <li>
        <img src="{{this.image}}" alt="{{this.title}}" class="movie-image">
        <h2>{{this.title}}</h2>
        <a href="/movies/{{this._id}}" class="see-more">See more</a>
      </li>
      {{/each}}
    </ul>
  </body>
</html>
