<button>
    <a href="/">Home</a>
</button>
<div>

    {{title}}<br>
    <img src="{{image}}"><br>

    {{#each stars}}
     <li>{{this}}</li>
    {{/each}}
    
    {{director}}<br>
    {{description}}<br>
    {{showtimes}}

</div>