
  <h2>{{this.title}}</h2>

       <img src="{{this.image}}" alt="{{this.title}}"/> 
       <p> <bold> "{{this.director}}" </bold></p> 
       <p> <bold> "{{this.description}}" </bold></p> 
       <p> <bold> "{{this.showtimes}}" </bold></p>
       <p> <bold> "{{this.stars}}" </bold></p> 



