<div id="movies">
    {{#with movie}}
    <div id="movie-details">
        <div id="movie-img">
            <img src="{{image}}" alt="{{title}}">
        </div>
        <div id="movie-info">
            <a href="/movies">Go back</a>
            <h2>{{title}}</h2>
            <h3>Director: {{director}}</h3>
            <h4>Stars:</h4>
                <ul>
                    {{#each stars}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            <p>{{description}}</p>
            <p>{{#each showtimes}}{{this}} | {{/each}}</p>
        </div>
    </div>
    {{/with}}
</div>