<a href="/movies" class="btn"> >Back to movies</a>

<div class="card border-0" id="movie-info">
  <div class="row g-0">

    <div class="col-md-3">
      <img
        src="{{this.image}}"
        class="img-fluid rounded-start"
        alt="..."
        id="img-card-movie"
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h1 class="card-title">{{this.title}}</h1>
        <h5 class="card-title">{{this.director}}</h5>
        <h5 class="card-title">Stars</h5>
        <ul>
          {{#each this.stars}}
            <li> {{this}} </li>
          {{/each}}
        </ul>
        <p class="card-text">{{this.description}}</p>
        <p>
          {{#each this.showtimes}}
            <span> {{this}} </span>
            |
          {{/each}}
        </p>
      </div>
    </div>

  </div>
</div>