<div>
  <h3>
    Movies
  </h3>
  {{#each movies as |movie|}}
      <img src="{{movie.image}}" />

      <div>

      <a href="/movies">Back</a>
      <h1>{{movie.title}}</h1>
      <h5>Directed by {{movie.director}}</h5>
      <h5>Starring</h5>
      <p>{{movie.description}}</p>

      </div>

      <a href="/movie/{{movie.id}}"></a>
  {{/each}}
</div>