<section class="movies-container">

<div id="details-card">

    <br>

    <img src={{image}}>
    <div id="text-details">
        <a href="/movies">Go back!</a>
        <h2>{{title}}</h2>
        <h3>{{director}}</h3>
        <h3>Stars</h3>

        <ul>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}

        </ul>   

        <p>{{description}}</p>

        <div id="showtimes">
            {{#each showtimes}}
            <p>{{this}} |<p>
            {{/each}}
        </div>
    </div>
</div>
</section>