<div class="container">
    <h1 class="pt-3">Ironhack cinema</h1>
    <h3>Movie Detail</h3>
    <div class="row mx-auto mt-5">
        <div class="row">
            <div class="col-4">
                <img class="" style="width: 100%;" src="{{image}}" alt="Card image cap">
            </div>
            <div class="col-8">
                <h1 class="">{{title}}</h1>
                <p class="">Director: {{director}}</p>
                </br>
                <h5 class="">Stars: </h5>
                <p style="font-size: 12px;">{{stars}}</p>
                </br>
                <h5 class="">Description: </h5>
                <p style="font-size: 14px; font-style: italic;">{{description}}</p>
                </br>
                <h5 class="">Showtimes: </h5>
                <p style="font-size: 12px;">{{showtimes}}</p>
            </div>
        </div>
        <div class="mb-5">
            <a href="/" class="btn btn-primary text-center mt-5">Go back</a>
        </div>

    </div>
</div>