<a href="/">Go back</a>
        {{#each movie}}
        <img width="" src="{{this.image}}" class="card-img-top" alt="{{this.title}}">
        <div>
            <h5 class="card-title">{{this.title}}</h5>
            <h6>{{this.director}}</h6>
            <ul>
                <li>{{this.stars}}</li>
            </ul>
            <p>{{this.descrition}}</p>
            <p>{{this.showtimes}}</p>
        </div>
        {{/each}}