<div class="container ">
    <div class=" row ">
        <img class="col-4" src="{{image}}" alt=" {{title}}">
        <div class="col-3  ">


            <h1>{{title}}</h1>
            <h2>{{director}}</h2>
            <ul>
                <h3>Stars</h3>

                <li>{{stars.[0]}}</li>
                <li>{{stars.[1]}}</li>
                <li>{{stars.[2]}}</li>

            </ul>
            <p>{{description}}</p>
            <p>{{showtimes}}</p>



        </div>
    </div>
</div>