<div class="container">
  <h2 class="text-center mb-5">Click on the movie to check the
    showtimes!</h2>
  <div class="row justify-content-center">
    {{#each movies}}
      <div class="card mx-3 mb-3 align-items-center">
       <a href="/movies/{{_id}}"> 
       <img class="rounded mx-3 d-block" src={{image}} alt="" />
        <div class="text-center text-black">
          <h5 class="title">{{title}}</h5>
        </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>
{{!-- <div class="carousel-caption d-none d-md-block">
        <h5>{{title}}</h5>
        <a href="/movies/{{_id}}">See more</a>
      </div>
    </div> --}}