{{#with Movie}}
  <div>
    <h1>{{title}} </h1>
    <h2> {{director}}</h2>
    <p>{{stars}} </p>
    <img src="{{image}}" alt=" {{title}}" />
    <p>{{description}}</p>
    <p>{{showtimes}}
    </p>
  </div>
{{/with}}