<section>
    <div class="headings">
        <h1>{{title}}</h1>
        <h4>Click on the movie to check the showtimes!</h4>
    </div>
    <div class="movies-container">
        {{#each movies}}
        <div class="movie-card">
            <a href="/movies/{{id}}">
                <img src="{{image}}" alt="movie-image"></a>
            <h4>{{title}}</h4>
            <a href="/movies/{{id}}"><button class="see-more" type="submit">See more</button></a>
        </div>
        {{/each}}
    </div>
</section>