<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-4 align-self-center text-center mb-3">
            <img src="{{image}}" alt="">
        </div>

        <div class="col-12 col-md-8 align-self-center mx-auto">
            <a href="/movies">Go back</a>
            <h4><strong>{{title}}</strong></h4>
            <p>Stars</p>
            {{#each stars}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
            <p>{{description}}</p>
            <p>
                {{#each showtimes}}
                <span>{{this}} |</span>
                {{/each}}
            </p>

        </div>
    </div>
</div>