<div class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="image">
    <div class="card-body">
        <a href="/movies" class="btn btn-primary">Go back</a>
    </div>

    <div>
        <h2>{{title}}</h2>
        <p>Director: {{director}}</p>
        <ul>
            <li>Stars: {{stars}}</li>
        </ul>
        <p> {{description}}</p>
        <p>{{showtimes}}</p>
    </div>