<div class="container-edit-form">
  <div class="left-side">
<img src="{{movie.image}}" alt="" srcset="">
  </div>
  <div class="right-side">

<form action="/movies/{{movie.id}}/edit" method="POST">
<div class="row">
    <div class="col">
      <input
      name="title" 
      value="{{movie.title}}"
        type="text"
        class="form-control"
        placeholder="Movie title"
        aria-label="title"
        required
      />
    </div>
    <div class="col">
      <input
      name="director" 
      value="{{movie.director}}"
        type="text"
        class="form-control"
        placeholder="Name of the director"
        aria-label="title"
        required
      />
    </div>
  </div>
 
  <div class="form-floating description">
    <textarea
    name="description"
      class="form-control"
      placeholder="Leave a description here"
      id="floatingTextarea"
    >{{movie.description}}</textarea>
    <label for="floatingTextarea">description</label>
  </div>
 <div class="check-box-container">
   <div class="stars">
<h5>Name of Stars</h5>
    {{#each movie.stars}}
  <div class="form-check">
  <input  name="stars" class="form-check-input" type="checkbox"  id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
   {{this}}
  </label>
</div>
  {{/each}}
   </div>
    <div class="showtimes">
 <h5>Show times</h5>

  {{#each movie.showtimes}}
<div class="form-check">
  <input name="showtimes" class="form-check-input" type="checkbox" id="flexCheckDefault2">
  <label class="form-check-label" for="flexCheckDefault2">{{this}}</label>
  <br>
  {{/each}}
  </div>
    </div>

 

  <br>
  <a href="#" type="submit">Submit!</a>

</form>

  </div>
</div>



