    <a href="../../movies/show/">go back</a>
<div id="moviesDetails">

    <div>
        <img src={{image}} >
     </div>

     <div class="movie">
        <div>{{title}} </div>
        <div>Director: {{director}} </div>
        <div>Stars:<br><ul>
            {{#each stars}}
            <li>{{this}} </li>
            {{/each}}
        </ul></div>
        <div>{{description}}</div>
        <br>
        {{#each showtimes}}
            {{this}}|
        {{/each}}
    </div>

 </div>