<div class="movie-detail">
    <a id="go-back" href="/movies">Go back</a>
    
        <div class="mt-5 movie-detail-container">
            <div class="movie-detail-img-container">
            <img src="{{movie.image}}" alt="{{movie.title}}">
            </div>
            <div class="movie-detail-text-container">
                <h5>{{movie.title}}</h5>
                <h6>{{movie.director}}</h6>
                <ul>
                    <li>{{movie.stars.[0]}}</li>
                    <li>{{movie.stars.[1]}}</li>
                    <li>{{movie.stars.[2]}}</li>
                </ul>
                <p>{{movie.description}}</p>
                <p>{{movie.showtimes.[0]}} | {{movie.showtimes.[1]}} | {{movie.showtimes.[2]}} | {{movie.showtimes.[3]}} | {{movie.showtimes.[4]}}</p>
            </div>
        </div>
    
</div>        