<div class="parent-id">
  <div><img src="{{image}}" alt="{{title}}" /></div>
  <div class="text-id">
    <h1>{{title}}</h1>
    <h2>Director: {{director}}</h2>
    <h2><strong>Stars</strong></h2>
    <ul>
      {{#each stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <br />
    <p>{{description}}</p>
    <p>{{showtimes}}</p>
  </div>
</div>