
<div class="movie-details-page">

    <img src="{{image}}" alt='Image of movie {{name}}'> 
    <a href="/movies">Go back</a> 
    <h1>{{title}}</h1>
    <h2>Director: {{director}}</h2>
    <h3>Stars</h3>
     <ul>
    {{#each stars}}
        <li>{{this}}</li>
    {{/each}}
     </ul>
    <p>{{description}}</p>
    <div class="showtimes">
        {{#each showtimes}}
        <p>{{this}}  |&nbsp;&nbsp;</p>
        {{/each}}
    </div>


</div>
