<a href="/movies">Go back</a>

<div id="movie-details">
    <img class="image" src="{{movie.image}}" alt="{{movie.title}}">
    <div class="movie-data">
        <h1 class="movie">{{movie.title}}</h1>
        <h2 class="director">Director : {{movie.director}}</h2>
        <p class="stars">Stars</p>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p class="description">{{movie.description}}</p>
        <ul class="show-times-list">
            {{#each movie.showtimes}}
            <li class="show-times">{{this}} |</li>
            {{/each}}
        </ul>
    </div>
</div>