<main class="movie-details-container">
    <div>
        <img src="{{image}}" alt="{{title}}-movie-folder">
    </div>

    <div>
        <a href="/movies">Go back</a>
        <h1>{{title}}</h1>
        <h2>Director: {{director}}</h2>
        <ul>
            <h2>Stars</h2>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <p>{{description}}</p>
        <p>
            {{#each showtimes}}
                <span>{{this}} |</span>
            {{/each}}
        </p>
    </div>
</main>