<a href="/movies">Go back</a>

<div class="movie-data">
    <img src="{{movie.image}}" alt="{{movie.title}}">
    <h1 class="movie">{{movie.title}}</h1>
    <p class="director">Director : {{movie.director}}</p>
    <p class="stars">Stars</p>
    <ul>
    {{#each movie.stars}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <p class="description">{{movie.description}}</p>
    <ul>
    {{#each movie.showtimes}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
</div>