<ul>
    <img src="{{image}}" alt="">
    <h5>{{title}}</h5>
    <h6>{{director}}</h6>
    <ul>
        <li>{{stars}}</li>
    </ul>
    <p>{{description}}</p>
    <p>{{showtimes}}</p>
</ul>
<a href="/movies">go back</a>