<a href="/movies">Go back</a>
{{#each movieDeatails}}
    <h2> {{title}}</h1>
    <h3> {{director}}</h3>
    <p> {{stars}}</p>
    <div> <img src="{{image}}"></div>
    <p> {{description}}</p>
    <p> {{showtimes}}</p>
{{/each}}

