<div class="header">
    <h2> Movie details </h2>
    <a class="button" href="/movies/create">Go back</a>
</div>

<div id="movie-details">
    <img src="{{movie.image}}" alt="{{movie.title}}">
    <div class="text-container">
        <h3>{{movie.title}}</h3>
        <h4>Director: {{movie.director}}</h4>
        <h4>Stars:</h4>
        <ul>
            {{#each movie.stars }}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>
            {{#each movie.showtimes }}
            <span>{{this}} | </span>
            {{/each}}
        </p>
        <div id="movie-action-btns">
            <div class="button-container">
                <a class="button-dark" href="/movies/edit">Edit Movie</a>
            </div>
            <div class="button-container">
                <a class="button-dark" href="/movies/{{movie._id}}/delete">Remove Movie</a>
            </div>
        </div>
    </div>
</div>