<div class="movies-page">

  <h1 class="movies-title">Ironhack Cinema</h1>
  <br />
  <h2 class="movies-text">Chick on the movie to check the showtimes!</h2>
  <br />

  <div class="movies-git">
    {{#each moviesArray}}

      <div class="card">
        <a href="/movies/{{_id}}">
          <img src="{{image}}" alt={{title}} class="image" />
        </a>
        <h3>{{title}}</h3>
        <a href="/movies/{{_id}}">See more</a>
      </div>

    {{/each}}
  </div>
</div>