<main>
    <h2>Ironhack Cinema</h2>
    <h3>Click on the movie to check the showtime!!</h3>

    {{#each movies}}
        <div>
            {{!-- <a href="/movies/{{this._id}}">
                <h3>{{this.title}}</h3>
            </a>
            <a href="/movies/{{this._id}}/edit">Editar</a>
            
            <form action="/movies/{{this._id}}/delete" method="post">
                <button type="submit">Excluir Movie</button>
            </form> --}}
            <img src= "{{this.image}}">
            <h3>{{this.title}}</h3>
            <a href="/{{this._id}}">See More</a>
        </div>
    {{/each}}
</main>