<div class='nav-title'>
  <h2>Ironhack Cinema 🍿</h2>
  <p>Details about the movie</p>
</div>
<div class='wrapper-movie-details'>
  <div>
    <img src='{{image}}' alt='movie-img' />
  </div>
  <div class='movie-details'>
    <div class='title-movie-details'>{{title}}</div>
    <div class='padding director'>Director: {{director}}</div>
    <div class='padding'>Stars: {{stars}}</div>
    <div class='padding'>{{description}}</div>
    <div class='padding'>{{showtimes}}</div>
    <div class='wrapper-btn'><a class='btn-see-more' href='/movies'>Go back</a></div>
  </div>

</div>