<div class="movie-details">
  <img src="{{movie.image}}" alt="{{movie.title}} ">
  <h2>{{movie.title}}</h2>
  <p>{{description}}</p>
  <p><strong>Director:</strong> {{movie.director}}</p>
  <p><strong>Stars:</strong> {{movie.stars}}</p>
    <p><strong>Showtime:</strong> {{movie.showtimes}}</p>
</div>

