<div class="bg-success text-light py-5">
    <div class="container">
        <h1>Movies</h1>
    </div>
</div>

<div class="container mt-3 mb-4">

    <div class="mt-3 row row-cols-1 row-cols-md-3 g-4">
        {{#each movies as |movie|}}
        <div class="col">
            <a class="text-decoration-none" href="/movieDetail/{{movie._id}}">
                <div class="card h-100">
                    <img src="{{movie.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">{{movie.title}}</h3>
                        <h5 class="card-director">{{movie.director}}</h5>
                    </div>
                    <button class="text-decoration-none" href="/movieDetail/{{movie._id}}"> See details</button>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>