<a href="/movies">Go Back</a>
<div class="last-page">
    <h1>{{movie.title}}</h1>
    <h2>Director: {{movie.director}}</h2>
    <h3>Stars</h3>

    <ul>
        {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <p>{{movie.description}}</p>

    <p>{{formattedShowtimes}}</p>
    <div class="last-image">
        <img src="{{movie.image}}" alt="{{movie.title}}">
    </div>