<div class="movie-info">
  <img src="{{image}}" alt="{{title}}" />
  <div class="movie-info-container">
    <a href="/movies">Go back</a>
    <h1>{{title}}</h1>
    <h2>{{director}}</h2>
    <h3>Stars</h3>
    <ul>
      {{#each stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{description}}</p>
    <div>
      {{#each showtimes}}
        <span>{{this}} | </span>
      {{/each}}
    </div>
  </div>
</div>