{{! views/movie/movie-details.hbs }}

<h1 class="movieTitle">{{movie.title}}</h1>
<hr />
<img src="{{movie.image}}" alt="{{movie.title}}" />
<p>Director: {{movie.director}}</p>
<p>Stars: {{movie.stars}}</p>
<p>Describtion: {{movie.description}}</p>
<p>Showtimes: {{movie.showtimes}}</p>
<hr />
<a href="/movies">Back</a>