{{#with movie}}
<img src="{{image}}" alt="{{title}}">
<div>
    <h2>Title:{{title}}</h2>
    <h3>Director: {{director}}</h3>
    
    <ul>
        {{#each stars}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    
    <p>Description:{{description}}</p>

    <ul>Showtimes
        {{#each showtimes}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
  
</div>

{{/with}}