<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{image}}" class="img-fluid rounded-start" alt="film" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="/movies" type="button">Go back</a>
        <h2 class="card-title">{{title}}</h2>
        <h3 class="card-text">Director: {{director}}</h3>
        <p class="card-text">Stars:
          <ul>
            <li>{{stars}}</li>
          </ul></p>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{showtimes}}</p>
      </div>
    </div>
  </div>
</div>