<div class="movie-card">
    <h3 class="card-title">{{movie.title}}</h3>
    <img class="card-img-top" src='{{movie.image}}'>
    <p>Director:{{movie.director}}</p>
    <p>Time:{{movie.starts}}</p>
    <p>Description:{{movie.description}}</p>
    <a href="/movies" class="back-button">Go back-button!</a>
</div>