
 
 <img src="{{image}}" alt="Image">
<h1>{{title}} </h1>
<h2>{{director}}</h2>

<h5>Stars</h5>
<ul>
    {{#each movie.stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p>{{description}}</p>
<p>{{showtimes}}</p>

<a href="/movies">Volver a Movies</a> 
