<h1>Detalles del peliculónnnnnn</h1>



<p>Reparto:{{pelicula.stars}}</p>

<p>{{showtimes}}</p>
<p>{{title}}</p>
<p>{{director}}</p>
<img src="{{image}}" alt="foto peli">
<p>{{description}}</p>
<p>{{updatedAt}}</p>
<p>{{createdAt}}</p>


