<img src="{{this.image}}">
<h1>{{title}}</h1>
<h2><p>Director: {{director}}</p></h2>
<h3><p>Stars</p></h3>
{{stars}}
<p>{{this.description}}</p>
<p>Showtimes: {{showtimes}}</p>
<a href="/">Go Back</a>