<h1>{{movie.title}}</h1>
<hr />
<p>Director: {{movie.director}}</p>
<p>Stars: {{movie.stars}}</p>
<img src=" {{movie.image}}" alt="" />
<p>Description: {{movie.description}}</p>
<p>Showtimes: {{movie.showtimes}}</p>
<hr />
<a href="/index">Back</a>