<div class="container">
    <h2>Movie Details</h2>
    <hr>
    <div class="row">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{image}}" class="img-fluid rounded-start" alt="{{title}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{director}}</p>
                        <ul>
                            {{#each stars}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="card-text">{{description}}</p>
                        {{#each showtimes}}
                        <span class="card-text text-muted">{{this}} |</span>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/" class="btn btn-dark mb-5">Volver a inicio</a>
</div>