{{!-- {{#each movies}} --}}


<div class='container'>
    <div class="row">
        <div class="col-4 p-4">
            <img src="{{image}}" class="card-img-top" style="width: 25rem;" alt="...">
            <div class="card-body">
                <h5 class="card-title mt-3 mb-3">{{title}}</h5>
                <h6 class="card-title mt-3">{{director}}</h6>
                <p class="card-text ms-5 mt-3">Starsssssssssssss</p>
            </div>
        </div>
    </div>
</div>
{{!-- {{/each}} --}}

{{!-- <ul class="list-group list-group-flush">
    <li class="list-group-item mt-2">Inversions: {{}}</li>
    <li class="list-group-item">Length: {{}}</li>
    <li class="list-group-item">Length: {{}}</li>
</ul>
<div>
    <p class="card-text mt-3">{{description}}</p>
</div>
<div>
    {{showtime}}
</div> --}}