

<ul>
    <li><img src="{{image}}" alt='Image of movie {{name}}'> </li>
    <li><a href="/movies">Go back</a></li>
    <li>{{title}}</li>
    <li>Director: {{director}}</li>
    <li>{{stars}}</li>
    <li>{{description}}</li>
    <li>{{showtimes}}</li>
</ul>
