<div class="info-main-container">
    <div class="info-img">
        <img src="{{movie.image}}" alt="{{movie.title}}" >
    </div>
    <div class="info-futher-container">
        <a href="/movies">Go back</a>
        <h2>{{movie.title}}</h2>
        <h3>Director: {{movie.director}}</h3>
        <h4>Stars</h4>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <p>
            {{#each movie.showtimes}}
                <span>{{this}} |</span>
            {{/each}}
        </p>

    </div>
</div>