<a href="/movies"> Go back </a>
<img src="{{movies.image}}" alt="">
<h1>{{movies.title}}</h1>
<h2> {{movies.director}} </h2>
<ul>
    <h3><b>Stars</b></h3> 
    <li>{{movies.stars.[0]}} </li>
    <li>{{movies.stars.[1]}} </li>
    <li>{{movies.stars.[2]}} </li>
</ul>
<p> {{movies.description}} </p>
{{movies.showtimes}} 