<a href="/movies">Go back</a>

<div class="movie-info">
    <img src="{{ movie.image}}" alt= "Movie Poster">
    <h1>{{ movie.title }}</h1>
    <h2>Director: {{ movie.director }} </h2>
    <h3>Stars</h3>
    <ul>
        {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{ movie.description }}</p>
    <p>
        {{#each movie.showtimes}}
            {{this}} |
        {{/each}}
    </p>
</div>

