<div class="container mt-4">
    <h1 class="py-1 text-white">MOVIES</h1>
    <hr>
    <div class="row m-4 d-flex justify-content-center align-items-center">
        <div class="d-flex col-md-6 mb-3 p-3 m-1">
            <img src={{image}} class="p-4" alt={{title}}>
            <div class="p-3 bg-white rounder-3 border rounded-3 mb-1">
                <h2 class="card-title p-2">{{title}}</h2>
                <h4 class="card-title p-2">Director: {{director}}</h4>
                <h5 class="p-2">Stars</h5>
                <ul>
                    {{#each stars}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <p>{{description}}</p>
                <p>{{#each showtimes}}<span> {{this}} | </span>{{/each}}</p>
            </div>
        </div>
    </div>
    <a href="/movie" class="btn btn-dark d-block p-3 btn-home">Go Back</a>
</div>
