<section>
    <div>
        <img src="{{movie.image}}" alt="">
        <div>
            <p>{{movie.title}}</p>
            <p>Director: {{movie.director}}</p>
            <p>Stars:</p>
            {{#each movie.stars}}
                <li>{{this}}</li>            
            {{/each}}            
            <p>{{movie.description}}</p>
            <p>{{movie.showtimes}}</p>
        </div>
    </div>
</section>