<div class="individual-movie">
    
    <div class="movie-img">
        <img src="{{image}}" alt="Movie image">
    </div>

    <div class="individual-movie-text">
        <a href="/movies" class="btn btn-secondary btn-sm go-back">Go back</a>
        <h1>{{title}}</h1>
        <h2>Director: {{director}}</h2>


        <strong>Stars:</strong>
        <ul>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>
            {{description}}
        </p>
        <div>
            {{#each showtimes}}
            <span>{{this}} | </span>
            {{/each}}
        </div>
    </div>
</div>