<h1>Movie card</h1>
<a href="/movies">Go back</a>
<hr />

	{{#each movieCard}}
<div>

		<img src="{{this.image}}" alt="movie image" />
</div>

			<h2>{{this.title}}</h2>
			<h3>Director: {{this.director}}</h3>
			<h3>Starring:</h3>
			<ul>
				{{#each this.stars}}
					<li>{{.}}</li>
				{{/each}}
			</ul>
			<p>{{this.description}}</p>
      <p>Showtimes: {{#each this.showtimes}} {{.}} ||{{/each}}</p>



	{{/each}}

