<h1>{{movie.title}}</h1>
<hr>
<img src="{{movie.image}}" alt="movie-img">
<p><strong>Directed by:</strong> {{movie.director}}</p>
<p><strong>Synopsis:</strong> {{movie.description}}</p>
<p><strong>Rating:</strong> {{movie.stars}}/10</p>
<p><strong>Showtimes:</strong> {{movie.showtimes}}</p>
<hr>
<a href="/movies">Back</a>