<h1>Movies</h1>

{{#each movies}}

<div>
    <img src="{{this.image}}" alt="{{this.title}}">
    <h3>{{this.title}}</h3>
<<<<<<< HEAD
    <a href="movies/{{id}}">See more</a>
</div>
{{/each}}
=======
     <a href="movies/{{id}}">Details and Showtimes</a>
</div>
>>>>>>> 370e97c0d323b40a5445e8b646d0a04cb6c09670
