<h1>Movie detail</h1>
<div>
    <div>
        <img src="{{image}}" alt="{{title}}">
    </div>
    <a href="/movies">Go back</a>
    <p>{{title}}</p>
    <p>Director: {{director}}</p>
    <p>Stars</p>
    {{#each stars}}
    <ul>
        <li>{{this}}</li>
    </ul>
    {{/each}}
    <p>{{description}}</p>
    {{#each showtimes}}
        <span>{{this}} |</span>
    {{/each}}
    
</div>