
<h1>{{title}}</h1>
<hr>
<img src="{{image}}" alt="">
<p><strong>Director: {{director}}</strong></p>
<ul> Stars
    <li>{{stars}}</li>
</ul>
<p><strong>{{description}}</strong></p>
<p><strong>{{showtimes}}</strong></p>


<a href="/movies">Back to list</a>