<div class="title">
  <h1>Ironhack Cinema</h1>
  <hr>
  <h2>Click on the movie to check the showtimes!</h2>
</div>
<hr>

{{#each movies}}
  <div class="card" style="width: 18rem;">
    <img src="{{this.image}}" class="{{this.title}}" alt="{{title}}">
    <div class="card-body">
      <p class="card-text">{{this.description}}</p>
      <a href="/movies/{{this._id}}">Detail</a>
    </div>
  </div>
{{/each}}


