<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movie.image}}" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{movie.title}}</h3>
        <h5 class="card-text">Director: {{movie.director}}</h5>
        <p>Stars: {{movie.stars}}</p>
        <p>{{movie.description}}</p>
        <p>{{movie.showTimes}}</p>
        <p class="card-text"><small class="text-muted"></small><a href="/movies">Go back</a></p>
      </div>
    </div>
  </div>
</div>



