<div id="parent-movie">
  <div><img src="{{movieDetail.image}}" alt="{{movieDetail.title}}" /></div>

  <div id="movie-details">
    <h1> {{movieDetail.title}}</h1>
    <h2>Director: {{movieDetail.director}}</h2>
    <p><strong>Stars</strong> <br /></p>
    <ul>
      <li>{{movieDetail.stars}}</li>
    </ul>

    <p>{{movieDetail.description}}</p>
    <p>{{movieDetail.showtimes}}</p>
  </div>
</div>