<h1>Here is the particular movie info</h1>

{{#with movieFromDB}}
	 <img src="{{image}}" alt="">
		<p>{{title}}</p>

    <p>Director: {{director}}</p>
   <p>{{description}}</p>
	 
    <p>Stars:</p>
 {{stars}}
 <P>Showtime: {{showtimes}}</P>
{{/with}}

 
