{{!-- views/movie-details.hbs --}}
 <style>
      body {
        background-color: rgb(53, 105, 148);
      }
</style>
<div id="index" class="" style="padding: 100px 150px 0 150px;">
    <div class="container d-flex justify-content-center">
        <div class="" style="width: auto; height: 400px;">
            <img style="max-width:auto; height:100%; object-fit: cover;" src="{{movie.image}}" alt="{{movie.title}}">
        </div>
        <div class="ml-5">
            <a class="text-center mt-2 btn btn-light" style="font-size: 12px;" role="button" href="/movies">Go back</a>
            <h1 class="mt-3 text-white">{{movie.title}}</h1>
            <h4 class="mt-1 text-white">Director: {{movie.director}}</h4>
            <p class="mt-1 text-white">Stars:</p>
            <ul>
            {{#each movie.stars}}
                <li class="mt-1 text-white">{{this}}</li>
            {{/each}}
            </ul>
            <p class="mt-1 text-white">{{movie.description}}</p>
            {{#each movie.showtimes}}
                <p class="mt-1 text-white d-inline">{{this}} |</p>
            {{/each}}
        </div>
    </div>
</div>

