
{{#with movie}}
<a href="/movies">Go back</a>
<img src="{{image}}" alt="{{title}}"> 
<h1>{{title}} </h1>
<h2>{{director}} </h2>
<ul>
{{#each stars}} 
  <li>{{this}}</li>
{{/each}} 
</ul>
{{description}}
<ul>
{{#each showtimes}} 
  <li>{{this}}</li> 
{{/each}} 
</ul>
{{/with}}