<h1>all movies</h1>

{{#each movie}}

        <h2>{{this.title}}</h2>
        <img src=" {{this.image}} " alt="">
        <a href="/movies/{{this._id}}">see more</a>
  
{{/each }}


        <h2>{{this.title}}</h2>
        <img src=" {{this.image}} " alt="">
        <a href="/movies/{{this._id}}">see more</a>