<div class="header">
    <h1> {{movie.title}} </h1>
</div>

<div class="movie_display">
<img src={{movie.image}} alt="{{movie.title}} image">
<div class="movie_textarea">
<a href="/movies">Go back</a>

<h2> {{movie.title}} </h2>
<h3> Director :  {{movie.director}} </h3>

<h4>Stars</h4>
<ul>
{{#each movie.stars}}

<li> {{this}} </li>

{{/each}}
</ul>

<p> {{movie.description}} </p>

{{#each movie.showtimes}}
<span> {{this}} |</span>
{{/each}}

</div>

</div>



