<div id="oneMovieContent">
  <img src="{{oneMovie.image}}" alt="" />

  <div id="oneMovieDetails">
    <a href="/movies">Go back</a>
    <h1>{{oneMovie.title}}</h1>
    <h2>{{oneMovie.director}}</h2>
    <h3>Stars</h3>
    <ul>
      <li>{{oneMovie.stars}}</li>
    </ul>
    <p>{{oneMovie.description}}</p>
    <p>{{oneMovie.showtimes}} |</p>
  </div>
</div>