    <h1>{{movie.title}}</h1>
    <p>Réalisateur : {{movie.director}}</p>
    <p>Casting : {{movie.stars}}</p>
    <img src={{movie.image}} alt="">
    <p>Description : {{movie.description}}</p>
    <p>Horaires :  {{movie.showtimes}}</p>