
<a href="/movies">Go back</a>

<div>
  <h1>{{movie.title}}</h1>
<h2>{{movie.director}}</h2>
<ul>
  <h3>Stars</h3>
  {{#each movie.stars}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<p>{{movie.description}}</p>

<p>{{movie.showtime}}</p>
</div>

<div>
  <img src="{{movie.image}}" alt="{{movie.name}} poster"/>
</div>
