<h1>Movie Details</h1>
<div class="card">
    <img src="{{image}}" alt="Info">
    <h2>{{Title}}</h2>
    <p>{{director}}</p>
    <ul>
        <li>{{stars}}</li>
    </ul>
    <p>{{description}}</p>
    <p>{{showtimes}}</p>


</div>