<div class="container">

    <div class="row">
        <div class=" card col-md-3">
            <img class="card-img-top " src="{{image}}" alt="Card image cap">
        </div>
        <div class=" card col-md-4">

            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-title">{{director}}</h6>
                <hr>
                <h6 class="card-title">{{stars}}</h6>
                <hr>
                <h6 class="card-title">{{description}}</h6>
                <hr>
                <h6 class="card-title">{{showtimes}}</h6>

            </div>
        </div>
    </div>
</div>