<div>
    <img src="{{movie.image}}" alt="movie image"/>
    <p><a href="/">Go back</a></p>
    <p>{{movie.title}}</p>
    <p>{{movie.director}}</p>

    {{#each movie.stars}}
        <div>
            <ul>
                <li>{{this}}</li>
            </ul>
        </div>
    {{/each}}
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
        <div>
            <ul>
                <li>{{this}}</li>
            </ul>
        </div>
    {{/each}}
</div>