<h1>IronHack Movie Details</h1>

    <div class="container">
        <img src={{this.image}} alt="">
        <h5>{{this.title}}</h5>
        <p>{{this.director}}</p>
        <p>{{this.stars}}</p>
        <p>{{this.description}}</p>
        <p>{{this.showtimes}}</p>
        
        <br>
        <a href="/movies">Back</a>
        <hr>
        <br>
    </div>