<h1>{{title}}</h1>
<h4>Click on the movie to check the showtimes!</h4>
<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col-4 mt-5">
            <div class="card" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="/movie/{{_id}}" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>