
    <h1>Cinema</h1>
    <h3>Movie Details</h3>

                <img src="{{image}}" alt="Card image cap">

                <h1>{{title}}</h1>
                <p>Director: {{director}}</p>
                </br>
                <h5>Stars: </h5>
                <p>{{stars}}</p>
                </br>
                <h5>Description: </h5>
                <p>{{description}}</p>
                </br>
                <h5>Showtimes: </h5>
                <p>{{showtimes}}</p>

            <a href="/" >Go back</a>
