
<div>
    <img src="{{selectedMovie.image}}" alt="poster">
</div>
<div>
    <a href='/movies'>Go back</a>
    <h2>{{selectedMovie.title}}</h2>
    <h4>Stars:</h4>
    <ul>
        <li>{{selectedMovie.stars.[0]}}</li>
        <li>{{selectedMovie.stars.[1]}}</li>
        <li>{{selectedMovie.stars.[2]}}</li>
    </ul>
    <p>{{selectedMovie.description}}</p><br>
    
    <p>{{selectedMovie.showtimes}}</p>
</div>