<div id="movie-info">
    <img src="{{image}}" alt="">
    <div class="info">
        <a href="/movies">Go back</a>
        <h2>{{title}}</h2>
        <h3>Director: {{director}}</h3>
        <h4>Stars</h4>
        <ul>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{description}}</p>
        <p>{{#each showtimes}}
           <span> {{this}} </span>
            </p>
            {{/each}}
    </div>
</div>