<h1>Movie Details</h1>
<hr>
<a href="/movies">Movies</a>
<a href="/movies/{{_id}}/edit">Edit</a>
<br>
<section class="container-details">
    <div><img src="{{image}}" alt="{{title}}"></div>
    <div id="info">
<h2>{{title}}</h2>
<p>{{director}}</p>
<p>Stars</p>
<ul>
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{description}}</p>
<p>{{showtimes}}</p>
</div>
</section>