<a href="/movies">Go back</a>
{{#each movieId}}
<img src="{{image}}" alt="Movie  poster">
<div>
    <h2>{{title}}</h2>
    <h3>{{director}}</h3>
    <h4>Stars</h4>
    <ul>
        {{#each stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{description}}</p>
    {{/each}}
</div>