<div class="header">
    <h1> {{movie.title}} </h1>
</div>


<img src={{movie.image}} alt="{{movie.title}} image" id="movie_img" >
<a id="a_goback" href="/movies">Go back</a>

<div class="movie_textarea">


<h2> {{movie.title}} </h2>
<h3> Director :  {{movie.director}} </h3>

<h4>Stars</h4>
<ul>
{{#each movie.stars}}

<li> {{this}} </li>

{{/each}}
</ul>

<p> {{movie.description}} </p>

{{#each movie.showtimes}}
<span> {{this}} |</span>
{{/each}}

</div>





