<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="{{movie.image}}" class="w-100" alt="{{movie.title}}">
        </div>
        <div class="col-8">
            <h1>{{movie.title}}</h1>
            <h5><strong>Director: </strong>{{movie.director}}</h5>
            <h5><strong>Sinopsis</h5>
            <p>{{movie.description}}</p>
            <p class="mt-3">
                <h5><strong>Starts</strong></h5>
                <ul>
                    {{#each movie.stars}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </p>
            <p class="mt-3">
                <h5><strong>Showtimes</strong></h5>
                {{#each movie.showtimes}}
                    {{this}}
                {{/each}}
            </p>
        </div>
    </div>
</div> 