<div  class="wrapper">
  <div class="movie-container">
    <div class="movie-card">
      <img src="{{movie.image}}" alt="" class="movie-image">
      <div class="movie-details">
        <h1 class="movie-title">{{movie.title}}</h1>
        <h2 class="movie-director">Director: {{movie.director}}</h2>
        <h3 class="stars-title">Stars:</h3>
        <ul>
          {{#each movie.stars as |star|}}
            <li class="movie-star">{{star}}</li>
          {{/each}}
        </ul>
        <p class="movie-descritpion">{{movie.description}}</p>
        <p class="movie-showtime">
          {{#each movie.showtimes as |showtime|}}
            <span> {{showtime}} |</span>
          {{/each}}
        </p>
      </div>
    </div>
  </div>
</div>