{{#with movies}}
  <h1>{{this.title}}</h1>
  <h2>{{this.director}}</h2>
 <img src= "{{this.image}}" alt= ""/>
  <h4>{{this.description}}</h4>
  <h5>{{this.stars}}</h5>
  <h6>{{this.showtimes}}</h6>
{{/with}}