<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="{{image}}" class="card-img-top" alt="{{tittle}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            {{#each stars}}
            <p>{{this}}</p>
            {{/each}}
            <p>{{description}}</p>
            <p>{{director}}</p>
        </div>
    </div>
</div>