<div class="detail">
    <div class="detailcard">
      <img src="{{image}}">
      <div>
        <a href="/movies">Go Back</a>
        <h4>{{title}}</h4>
        <h3>{{director}}</h3>
        <h5>{{stars}}</h5>

        <p>{{description}}</p>
        <p>{{showtimes}}</p>
      </div>
    </div>
  </div>

