<div id="movie-card">
    <img src="{{image}}" alt={{title}} id="movie-poster"/>
    <div id="movie-card-text">
        <h1>{{title}}</h1>
        <h3>Director: {{director}}</h3>
        <h3>Cast: {{stars}}</h3>
        <h3>{{description}}</h3>
        <h4>Showtimes:<br>{{showtimes}}</h4>
    </div>
</div>

