    <a href="/movies">Go back</a>
    <br>
    <br>

    <div>
    <img src="{{movie.image}}">
    <h3>{{movie.title}}</h3>
    <p><strong> Director: </strong>{{movie.director}}</p>
    <p><strong>Cast: </strong>{{movie.stars}}</p>
    <p><strong>Story: </strong>{{movie.description}}</p>
    <p><strong>Showtimes: </strong>{{movie.showtimes}}</p>
    </div>
