<div class="onemovie-container">
	<div class="onemovie-title">
		<h1> {{movie.title}}</h1>
	</div>
	<div class="onemovie-img"><img src="{{movie.image}}"> </div>



	<ul class="one-movie">
		<li class="movie-info"><span> Director: </span> {{movie.director}} </li>

		<li class="movie-info"> <span>Starring: </span> {{movie.stars}} </li>

		<li class="movie-info"> <span> Synopsis: </span> {{movie.description}} </li>
		<li class="movie-info"> <span> Showtimes: </span> {{movie.showtimes}} </li>
	</ul>

</div>

<p><a href="/movies"> Go back</p></a>