    <div class="list">
        <img src="{{image}}" class="image" alt="img-movie">
        <h2>{{title}}</h2>
        <p>{{director}}</p>
        <p>{{stars}}</p>
        <p>{{description}}</p>
        <p>{{showtimes}}</p>
    </div>