<p>{{oneMovie.title}}</p>
<p>Director: {{oneMovie.director}}</p>
<p>Stars: {{oneMovie.stars}}</p>
<p>{{oneMovie.description}}</p>
<p>Show times: {{oneMovie.showtimes}}</p>
<p><img src="{{oneMovie.image}}"/></p>