{{!-- <div id="movie-container" class="row row-cols-1 row-cols-md-3 g-4">
    {{#each data}}
  <div class="col">
    <div class="card">
      <img id="image-box" src="{{image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <a href="/peli/{{_id}}"> See more</a>
      </div>
    </div>
    {{/each}}
  </div>
  --}}
<div id="backIronMovie">
<h1 id="iron">My IronMovie</h1>

{{#each data}}
            <div class="divPeli">
                  <div class="tarjeta" style="width: 18rem;">
                        <img src="{{image}}" class="card-img-top" alt="...">
                        <div class="card-body-web">
                              <h5 class="card-title">{{this.title}} </h5>
                              <p class="card-text"><a href="/movies/{{this._id}}">Ver detalles</a></p>
                        </div>
                  </div>
{{/each}}
</div>
{{!-- 
<div class="card mb-3" style="max-width: 540px;">
    
  <div class="row g-0">
    <div class="col-md-4">
      {{#each data}}
      <img src="{{image}}" class="img-fluid rounded-start" alt="{{title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <a href="/peli/{{_id}}"> See more</a>
      </div>
    {{/each}}
    </div>
  </div>
  
</div> --}}



{{!-- 

<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each data}}
    <div class="col">
      <div class="card">
        <img src="{{image}}" class="card-img-top" alt=" {{title}} " />
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <a style="color: #8db6c3;; font-weight: bolder;" href="/peli/{{_id}}">See more</a>
        </div>
      </div>
    </div>
  {{/each}}
</div> --}}