<main id="details-page">

  <div>
    <img src="{{movie.image}}">
  </div>

  <div>
    <a href="/movies">Go back</a>
    <h3>{{movie.title}}</h3>
    <h4>Director: {{movie.director}}</h4>
    <h5>Stars:</h5>
    <ul>
      {{#each movie.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">{{this}}</li>
      </ul>
    {{/each}}

  </div>

</main>
