<div class="container">
    <div class="details-wrapper">
        <div class="card-img">
            <img src="{{theMovie.image}}" alt="{{theMovie.title}}">
        </div>
        <div class="details-content">
            <h2>{{theMovie.title}}</h2>
            <h3>Director: {{theMovie.director}}</h3>
            <p class="stars"><strong>Stars</strong> </p>
            <ul>
                {{#each theMovie.stars}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{theMovie.description}}</p>
            <ul class="showtimes">
                {{#each theMovie.showtimes}}
                <li>{{this}} |</li>
                {{/each}}
            </ul>
            <a href="/movies">Back to movies</a>
        </div>

    </div>
</div>