<div class="single-container">
        <div class="single-cover-cont">
            <img class="single-cover" src="{{image}}" alt="{{title}} cover">
        </div>
        <div class="single-text">
            <a href="/movies">Go back</a>
            <h2>{{title}}</h2>
            <h4>Director: {{director}}</h4>
            <h6>Stars:</h6>
            <ul>
                {{#each stars}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{description}}</p>
            {{#each showtimes}}
                {{#if @last}}
                    <a href="#">{{this}}</a>
                {{else}}
                    <a href="#">{{this}}</a> |
                {{/if}}
            {{/each}}
        </div>
</div>