<div class="movie-card">
  <a href="/movies">Go back</a>
  <img src="{{movie.image}}" alt="{{movie.title}}">
  <h2>{{movie.title}}</h2>
  <h3>Director: {{movie.director}}</h3>
  <b>Stars</b>
  <ul>
    {{#each movie.stars}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>{{movie.description}}</p>
  {{#each movie.showTimes}}
    <span class="movie-time">{{this}}</span>
  {{/each}}
</div>