<a href="/movies">Go back</a>
<h1>Name: {{title}}</h1>
<img src="{{image}}" alt="{{title}}">
<h2>Director: {{director}}</h2>
<p>Stars: 
    <ul>
        <li>{{stars}}</li>
    </ul>
<p>Description: {{description}}</p>
<p>Showtimes: {{showtimes}}</p>


