


<img class = "single-image"src = {{movie.image}}>

<div class = "movie-info-column">
<p class = "single-title">{{movie.title}}</p>
<p class = "single-director">Director: {{movie.director}}</p>
<p>Stars:</p>
<li class = "single-starts">{{movie.starts}}</li>
<p class = "single-description">{{movie.description}}</p>
<p class = "single-showtimes"> | {{movie.showtimes}}</p>
</div>