<div class="container">
{{#each movies}}
  <div>
    <img src="{{image}}" alt="image">
  </div>
  <h2>{{title}}</h2>
  <h3>{{director}}</h3>
  <p>{{stars}}</p>
  <p>{{description}}</p>
  <p>{{ showtime}}</p>
{{/each}}
</div>