<div>
    <img src="{{movie.image}}" alt="Cover of the movie">
    <a href="/movies">Go Back</a>

    <h1>{{movie.title}}</h1>
    <h2>{{movie.director}}</h2>
    <h3>Stars</h3>
    {{movie.stars}}
    <p>{{movie.description}}</p>
    {{movie.showtimes}}

</div>