<a href="/movies">Go back</a>

<img src="{{movieItem.image}}" alt="">

<h2>{{movieItem.title}}</h2>

<h3>Director: {{movieItem.director}}</h3>

<h4>Stars</h4>
<ul>
    <li>{{movieItem.stars.[0]}}</li>
    <li>{{movieItem.stars.[1]}}</li>
    <li>{{movieItem.stars.[2]}}</li>
    </ul>

<p>{{movieItem.description}}</p>

<p>{{movieItem.showtimes}}</p>