
<div class="single-movie">
    <a href="/movies">Go back</a>
    <img src="{{movie.image}}">
    <span>{{movie.title}}</span>
    <span>{{movie.director}}</span>
    <span>{{movie.stars}}</span>
    <span>{{movie.description}}</span>
    <span>{{movie.showtimes}}</span>
   

</div>