<section id="contenedor-detail">
    <div id="imagen-detail">
        <img src="{{image}}" alt="">
    </div>
    <div id="texto-detail">
        <a href="/movies">Go back</a>
        <h2>{{title}}</h2>
        <h3>Director {{director}}</h3>
        <h4>Stars</h4>
            <ul>
                <li>{{stars.[0]}}</li>
                <li>{{stars.[1]}}</li>
                <li>{{stars.[2]}}</li>
            </ul>
        <p>{{description}}</p>
        <aside>
            {{showtimes}}
        </aside>
    </div>
</section>