<!--layout.hbs-->
  <h1 class= "title">Details</h1>
<div class = "ficha">

  <div>
    <img src="{{MovieData.image}}" alt="movie-image" />
  </div>
  <div class= "info">
    <h1>{{MovieData.title}}</h1>
    <h2>{{MovieData.director}}</h2>
    <p>{{MovieData.stars}}</p>
    <h3>{{MovieData.description}}</h3>
    <p>{{MovieData.showtimes}}</p>
  </div>
</div>