{{#each movies}}
<img src="{{image}}" alt="{{title}}">
<h1>{{title}}</h1>

<p>{{director}}</p>
<p>{{stars}}</p>
<p>{{description}}</p>
<p>{{showtimes}}</p>
{{/each}}
<a href="/movies/movies-list">Return
</a>