<div class='movie-detail-container'>
<a href="/movies">Go back</a>
<img src="{{movie.image}}" alt="">
<h3>{{movie.title}}</h3>
<h4>Director: {{movie.director}} </h4>
<h5>Stars</h5>
<ul>
    {{#each movie.stars}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{movie.description}}</p>
<p>{{movie.showtimes}}</p>
</div>