<main class="container">
<section>
    <article class="row">
        <div class="col-3 pt-5">
            <img class="cover" src="{{movie.image}}" alt="{{movie.title}}">
        </div>
        <div class="col-9 pl-5">
            <a href="/movies">Go Back</a>
            <h2>{{movie.title}}</h2>
            <h4>Director: {{movie.director}}</h4>
            <strong>Stars:</strong>
            <ul>
                {{#each movie.stars}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{movie.description}}</p>
            <p>
                {{#each movie.showtimes}}
                <span>{{this}}</span> |
                {{/each}}
            </p>
        </div>
    </article>
</section>
</main>
