<a href="/movies">Go back</a>
<h3>{{title}}</h3>
<img src="{{image}}" alt="">
<h4>`Director: {{director}}`</h4>
{{#each starts}}
    <p>{{text}}</p>
{{/each}}
<p>{{description}}</p>
<p>{{howtimes}}</p>