

    
<div class="row">


<div class="col-md-4">

        <img class="card-img-top" src="{{image}}">
  

</div>

<div class="col-md-8">
    <a href="/movies">Go back</a>
    
        <h2>{{title}}</h2>
        
          <h3 class="card-title">{{director}}</h3>

          <h4>Stars</h4>

      <ul>
        {{#each stars}}
        <li>{{this}}</li>
        {{/each}}
      </ul>

        <p>{{description}}</p>

        <p > 
              {{#each showtimes}} 

                  {{this}} &#124;

              {{/each}}
        </p>

    
  </div>

</div>


