<div class="card">
      <img class="card-img-top" src="{{this.image}}" alt=""></img>
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        {{!-- req.params method --}}
        {{!-- <a href="/movies/{{this._id}}">See more</a> --}}
        {{!-- req.query method --}}
        <a href="/movie/detail?movieId={{this._id}}" class="text-white">See more | </a> 
        <a href="/movie/update/{{this._id}}" class="text-white">Update Movie</a>
      </div>
</div>