<img src="{{this.image}}">
<div>
  <h4>{{this.title}}</h4>
  <h5>{{this.director}}</h5>
  <h6>Stars</h6>
  <ul>
    <li>{{this.stars}}</li>
  </ul>
  <span>{{this.description}}</span>
  <br>
  <span>{{this.showtimes}}</span>
</div>