{{!-- <div class='movies-container'>
  <img src='{{this.image}}'>
  <div class='details-container'>
    <span><a href='/movies'>Go back</a></span> --}}
    <h2>{{this.director}}hello</h2>
    {{!-- <h3>Director : {{this.director}}</h3>
    <p><b>Stars</b></p>
    <ul>
      {{#each this.stars}}
        <li>{{i}}</li>
    </ul>
    <p>{{this.description}}</p>
  </div>

</div>


<h1>{{movie.title}}</h1> --}}
