<div class="container"> 
    <div class="row">
        <div class="col">
            <img  src="{{movie.image}}" alt="{{movie.title}} class="img-fluid"" />
        </div>
        <div class="col" >
            <h1>{{movie.title}}</h1>
            <h2> Director:{{movie.director}}</h2>
            <p> Stars: {{movie.stars}}</p>
            <p> {{movie.description}}</p>
            <p>{{ movie.showtimes}}</p>
        </div>
    </div>
</div>

