<div class="container">
   <br>
   
   <div class="d-flex justify-content-between align-items-center mt-5" >
      <div class="pe-5">
         <img src="{{ image }}" class="card-img-top" alt="..." style="width: 15rem;">
      </div>
      <div>
         <h5><a href="/movies/" class="">Go back</a></h5>
         <h5 class="card-title">{{ title }} </h5>
         <p>{{director}}</p>
         <p class="card-title">{{ description }}</p>
         <ul>
            {{#with stars }}
                {{#each this as | star |}}
                    <li>{{star}}</li>
                {{/each}}
            {{/with}}
        </ul>
         <p class="card-title">
            {{#with showtimes }}
                {{#each this as | showtime |}}
                    {{showtime}}|
                {{/each}}
            {{/with}}
      </p>
      </div>
   </div>
</div>