

<div class="card-group">
              <div class="card">
                <h2 class="card-title">{{movie.title}}</h2>
                <img class="card-img-top" src="{{movie.image}}" alt="Card image cap">
                <p><b>DIRECTOR:</b>{{movie.director}}</p>
                <p><b>STARS:</b> {{movie.stars}}</p>
                <p><b>DESCRIPTION:</b> {{movie.description}}</p>
                <p><b>SHOWTIME:</b> {{movie.showtimes}}</p>
              </div> 

<a href="/">Go back to homepage</a>


