<div class="secondarycontainer">
    <h1>{{title}}</h1>

    <hr>
    <img src={{image}}/>
    <p><strong>Director:</strong> {{director}}</p>
    <p><strong>Stars:</strong> {{stars}}</p>
    <p><strong>Description:</strong> {{description}}</p>
    <p><strong>Showtimes:</strong> {{showtimes}}</p>

    <hr>
    <a href="/movies" class="btn btn-dark">Back to movies</a>
</div>