<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"> {{title}} </h3>
                    <h4 class="card-text"> {{director}} </h4>
                    <h5 class="card-text"> Stars</h5>
                    <ul>
                        {{#each stars}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>

                    <p class="card-text">{{description}}</p>
                    <p class="card-text"> ||
                        {{#each showtimes}}
                        {{this}} ||
                        {{/each}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="/movies" role="button">Back to movies!</a>



</div>