<div class="container">

    <h1>{{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
        <br>
        <img src={{image}} alt="poster">
        </div>

    <div class="row">
        <div class="col-md-6">
            Director
            <br>
            {{director}}
        </div>
        <div class="col-md-6">
            Stars
            <br>
            {{stars}}
        </div>
        <div class="col-md-6">
            <br>
            {{description}}
        </div>
    </div>
        <div class="col-md-6">
        <br>
            {{showtimes}}
        </div>
    <hr>

    <a href="/movies" class="btn btn-dark">Volver</a>
</div>