<div class="container movie-listing">
    <div class="row">
        <div class="col-12">
            <h2>Ironhack Cinema</h2>
            <p>Click on the movie to check the showtimes!</p><br><br>
        </div>
    </div>
    <div class="row">
     
            {{#each movies}}
            {{movies}}
                    <div class="col-4 movie-item"> 
                        <div class="image"><a href="/movie/{{this.id}}"><img src="{{this.image}}"/></a></div>
                        <p class="title">{{this.title}}</p>
                        <a href="/movie/{{this.id}}">See more</a>
                    </div>
            {{/each}}
    </div>
</div>