<a href="/">Back</a>

<h1>Ironhack Cinema</h1>
<p>Click on the movies to check the showtimes!</p>


    <div class="container-listmovies">
        {{#each moviesArr}}

        <div class="info-movie">
            <img src= "{{this.image}}">
            <p><strong>{{this.title}} </strong></p>

            <a class="seeDetails" href="/movies/{{_id}}">See more</a>
            <a href="/movies/{{this._id}}/edit">Edit film</a>


            <form action="/movies/{{this._id}}/delete" method="post">
                <button>Remove the film</button>

            </form>


        </div>
        {{/each}}
    </div>

