<h3>{{{title}}}</h3>

<hr/>

<img src= "{{this.image}}">

<h3>Director:</h3>
<p>{{director}}</p>

<h3>Description:</h3>
<p>{{description}}</p>

<h3>Stars:</h3>
<p>{{stars}}</p>

<h3>Showtimes:</h3>
<p>{{showtimes}}</p>


<a href="/movies">Back</a>