<nav class="navbar">
    <a href="/"><h2>Ironhack Cinema</h2></a>
    <h3>Click on the movie to check showtimes!</h3>
    <a href="/movies/create">
        <<< Create a new movie >>>
    </a>
</nav>


<div class="list-container">
    {{#each movies}}
        <div class="card">
            <a href="/movies/{{id}}"><img src="{{image}}" alt=""></a>
            <a href="/movies/{{id}}"><h4 class="card-title">{{title}}</h4></a>
            <a href="/movies/{{id}}/edit">Edit</a>
        </div>
    {{/each}}
</div>
