<div class="Container">
    <img class="imgDetails" src="{{image}}" alt="">

    <div class="contentContainer"> 
        <a href="/movies">Go back</a>


        <h2>{{title}}</h2>
        <h3>{{director}}</h3>
        <br>
        <h4>Stars</h4>
        
        {{#if stars}}
        <ul>
            <li>{{stars}}</li>
        </ul>
        <br>
        {{/if}}
        <br>
        <p class="description">
        {{description}}
        </p>
        <br>
        {{#if showtimes}}
        {{showtimes}}
        <br>
        {{/if}}
    </div>
</div>