<section class="movie-info">
  <img src={{movie.image}} alt="pic" />

  <div class="details">
    <a href="/movies">Back</a>
    <h2>{{movie.title}}</h2>
    Director:
    {{movie.director}}<br />
    Stars
    <ul>

      {{#each movie.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{movie.description}}
    <br />
    <br />
    {{movie.showtimes}}

  </div>
</section>