<img src="{{image}}" alt="">
<a href="/movies">Go back</a>

<h2>{{title}}</h2>
<h3>{{director}}</h3>
<br>
<h4>Stars</h4>

{{#if stars}}
{{stars}}
<br>
{{/if}}
<br>
{{description}}
<br>
{{#if showtimes}}
{{showtimes}}
<br>
{{/if}}