<section id="movie-detail">
        <h2>{{title}}</h2>

    <img src="{{image}}">
    <div>
        <h3>Director: {{director}}</h3>
        <p>Stars:</p>
        <ul>
        {{#each stars}}
        <li>{{this}}</li>
        {{/each}}
        </ul>
        <p id="movie-description">{{description}}</p>
        <p>{{showtimes}}</p>
        <div id="goBack-btn" class="button">
            <div class="inner-border-btn">
            <a href="/">Go Back</a>
        </div>
    </div>
    </div>
</section>