<nav class="navbar">
    <a href="/"><h2>Ironhack Cinema - Home</h2></a>
    <a href="/movies/{{movie.id}}/edit"><h3><<< Edit movie details here >>></h3></a>
    <a href="/movies"><<< Go back to movies list >>></a>
</nav>
<section id="details-box">
    <div class="details-image">
        <img src="{{movie.image}}" alt="">
    </div>
    <div class="details-container">
        <br>
        <h2>{{movie.title}}</h2>
        <h3>{{movie.director}}</h3>
        <h4>Stars</h4>
        <ul>
            {{#each movie.stars}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <ul class="showtimes">
            {{#each movie.showtimes}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</section>