<h1>Movie Details</h1>

<a href="/movies">Go back</a>
<div>
    <img src="{{movieDet.image}}" alt="">
    <h2>{{movieDet.title}}</h2>
    <h3>{{movieDet.director}}</h3>
    <p>{{movieDet.description}}</p>
    <ul>Stars
        <li>{{movieDet.stars}}</li>
    </ul>
    <ul>
        <li>{{movieDet.showtimes}}</li>
    </ul>
</div>