<section class="display">

  <div class="movie-details">

    <h1>{{this.title}}</h1>

    <hr />

    <img src="{{this.image}}" alt="movie-image" />
    
    <p>{{this.author}}</p>

    <h3>Description:</h3>
    <p>{{this.director}}</p>

    <p>{{this.stars}}</p>

    <p>{{this.description}}</p>

    <p>{{this.showtimes}}</p>

    <a href="/movies/{{this._id}}/edit">Edit</a>

    <hr />

    <a href="/movies">Back</a>

  </div>

</section>