
<a href="/movies">Back</a>

<h1>{{{this.title}}}</h1>

<hr/>

    <img src= "{{this.image}}">
    
<div class="container-details"></div>
    <h3>Director:</h3>
    <p>{{this.director}}</p>

    <h3>Description:</h3>
    <p>{{this.description}}</p>

    <h3>Stars:</h3>
    <p>{{this.stars}}</p>

    <h3>Showtimes:</h3>
    <p>{{this.showtimes}}</p>

</div>

