<div class="details-wrapper">
  <div class="img-wrapper">
    <img src={{image}} alt="">
  </div>
  <div class="main-info">
    <a href="/">Go back</a>
    <h2>{{title}}</h2>
    <h3>Director: {{director}}</h3>
    <p>Stars: </p>
    <ul>
      {{#each stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{description}}</p>
    <div>
      <p>Showtimes:</p>
      {{#each showtimes}}
        <span>{{this}} | </span>
      {{/each}}
    </div>
  </div>
</div>