<div class="container">
    <div class="row align-items-center">
        <div class="col-4 detail-img">
            <img src="{{image}}" alt="film cover">
        </div>
        <div class="col-8 detail-info">
            <a href="/movies">Go back</a>
            <h3>{{title}}</h3>
            <h4>Director: {{director}}</h4>
            <h5>Stars</h5>
            <ul>
                {{#each stars}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{description}}</p><hr>
            <p>
                {{#each showtimes}}
                {{this}}  |
                {{/each}}
            </p>
        </div>
    </div>


</div>