{{#with movie}}

  <section>

    <div class="right-colum">
      <img src="{{image}}" alt="Movie Poster" />
    </div>
    <div class="left-column">
      <p>{{title}}</p>
      <p>{{director}}</p>
      <p>{{stars}}</p>
      <p>{{description}}</p>
      <p>{{showtime}}</p>
    </div>

  </section>
{{/with}}