


<section class = "container"> 
        
        <a class="btn-back" href="/">Back</a>
        <h1><strong> Ironhack Cinema</strong></h1>

</section>

     <hr>

<section id="position-movies">

    {{#each moviesArr}}
        
        <div class="col-4">
            <div class="imgs-movies">
                <img src= "{{this.image}}">
                <div class="buttons-movies">
                    <p class="title-movie"><strong>{{this.title}} </strong></p>
                    <a class="see-details" href="/movies/{{_id}}">See more</a>
                    <a class="edit-details" href="/movies/{{this._id}}/edit">Edit film</a>
                    <form action="/movies/{{this._id}}/delete" method="post">
                        <button type="submit" class="btn btn-outline-warning"><strong>Remove the film</strong></button>
                        
                    </form>
                </div>
            </div>

        </div>
        
    {{/each}}
</section>






    
       
        

            
                
    
