<hr>
<a href="/movies">Go back</a>
<hr>
<h1>{{title}}</h1>
<hr>
<img src="{{image}}" alt="">
<p>Director: {{author}}</p>
<p>Stars: {{stars}}</p>
<p>Description: {{description}}</p>
<p>Showtimes: {{showtimes}}</p>
<hr>
<a href="/movies/{{_id}}/edit">Edit</a>
<hr>

<hr>
<a href="/movies/{{_id}}">Delete</a>
<hr>