<div id="moviesDetails">
  <div id="movieInfo">
    <div>
      <img class="moviePicture" src="{{movie.image}}" alt="{{movie.title}}" />
    </div>
    <div id="movieDetailed">
      <h3>{{movie.title}}</h3>
      <h4>Director: {{movie.director}}</h4>
      <h4>Stars:</h4>
      <ul>
        {{#each movie.stars}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <p>{{movie.description}}</p>
      <p>
        {{#each movie.showtimes}}
          {{this}}|
        {{/each}}
      </p>
    </div>
  </div>
  <a href="/movies">Go back</a>
</div>