<img src="{{image}}" alt="{{title}} Poster">
<a href="/movies">Go back</a>
<a href="/movie/{{id}}/edit">Edit</a>
<form action="/movie/{{id}}/delete" method="POST"><button>Delete Movie</button></form>
<h1>{{title}}</h1>
<h2>Director:{{director}}</h2>
<h3>Stars</h3>

<ul>
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p>{{description}}</p>

    {{#each showtimes}}
    <span> {{this}} |</span>
    {{/each}}
