<div class="container">


    <div class="d-flex flex-row align-items-center">
        <img class="card-img-top mx-auto d-block" src="{{theMovie.image}}" alt="movie {{theMovie.title}}" />
        <a href="/movies">Go Back</a>
        <div class="card-body">
            <h3 class="card-title"><b>{{theMovie.title}}</b></h3>

            <h6 class="card-title tagline"> {{theMovie.director}}</h6>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <h5><b>Stars</b></h5>
        <ul>
            {{#each theMovie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <p>{{theMovie.description}}</p>

        <ul>
            {{#each theMovie.showtimes}}
            <li>{{this}}</li>
            {{/each}}
        </ul>


    </div>