<p><a href="/movies">Go back</a></p>

{{#with data}}

<img src="{{this.image}}" alt="{{this.title}} cover photo">

<h1>{{this.title}}</h1>
<h2>{{this.director}}</h2>
<h3>{{this.stars}}</h3>
<p>{{this.description}}</p>
<p>{{this.showtimes}}</p>

{{/with}}