
{{#with data}}

<div  class="card mb-3 container" style="max-width: 540px;">
  <div class="row g-0 container">
    <div class="col-md-4 container">
      <img src="{{image}}" class="img-fluid rounded-start" alt="{{title}}">
    </div>
    <div class="col-md-8 container">
      <div class="card-body container">
        <a href="/../peli/">Go Back</a>
        <h5 class="card-title container">{{title}}</h5>
        <p class="card-text container">{{director}}</p>
        {{#each stars}}
        <ul>
            <li>{{this}}</li>
        </ul>
        {{/each}}
        <p class="card-text container">{{description}}</p>
        <p class="card-text container"><small class="text-muted">{{showtimes}}</small></p>
      </div>
    </div>
  </div>
</div>

{{/with}}