<div class="card mb-3" style="max-width: 540px;">
{{#with data}}
  <a href="/home" class="link-primary">Go Back</a>
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{ this.image }} class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{ this.title }}  </h5>
        <p class="card-text"> Director: {{ this.director }} </p>
        <p class="card-text"> Rating: {{ this.starts }} </p>
        <p class="card-text"> {{ this.description }} </p>
        <p class="card-text"><small class="text-muted"> {{ this.showtime }} </small></p>
      </div>
    </div>
  </div>
{{/with}}
</div>


