<div class="container">
    <div class="d-flex  mt-5">
        <div class="image-movie">
            <img class="" src="{{image}}" alt="">
        </div>
        <div class="ms-3">
            <div class="d-grid  d-md-flex justify-content-md-end">
                <button onclick="window.history.back();" class="btn btn-outline-info">Go back </button>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item fw-bold">
                    <h2>{{title}}</h2>
                </li>
                <li class="list-group-item fw-bold">{{director}}</li>
                <li class="list-group-item fw-bold">
                    Stars
                    <ul class="fw-normal mt-2">
                        {{#each stars}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </li>

                <li class="list-group-item">{{description}}</li>
                <ul class="list-group list-group-horizontal mt-3">
                    {{#each showtimes}}
                    <li class="list-group-item">{{this}}</li>
                    {{/each}}
                </ul>
            </ul>
        </div>
    </div>
</div>