<h1>{{title}}</h1>
<h2>Director: {{director}}</h2>
<h3>Descripcion</h3>
<p>{{description}}</p>

<p>Protagonistas: {{stars}}</p>
<p>{{showtimes}}</p>
 <img src="{{image}}" width="{{image}}" heigth="{{image}}" alt="">