<h1>Movie Info</h1>
<a href="/movies">Go back</a>
<div class="movieinfocontainer">
  {{#each movie}}
  <img class="movieinfoimg" src="{{this.image}}" alt="movie image">
  <div class="moviedetailcontainer">
    <h2>{{this.title}}</h2>
    <h5>Director: {{this.director}}</h5>
    <p>stars</p>
    <ul>
      {{#each stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{this.description}}</p>
    <p>{{#each showtimes}}{{this}} |{{/each}}</p>
  </div>
  {{/each}}
</div>