<div id="details">
  <div id="img-container">
  <img src="{{oneMovie.image}}" alt="movie cover">
  </div>
  <div class="movie-data">
  <a href="/movies/">Go back</a>
  <h2>
    {{oneMovie.title}}
  </h2>
  <h3>Director: {{oneMovie.director}}</h3>
  <h4>Stars:</h4>
  <ul id="list">
    {{#each oneMovie.stars}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{oneMovie.description}}
  <p>{{oneMovie.showtimes}}</p>
  </div>
</div>