<h2>Movies details</h2>
<button type="button" class="btn btn-secondary btn-sm">
  <a href="/movies">Go back!</a>
</button>
</br>

<div class="card mb-3" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movie.image}}" class="img-fluid rounded-start" alt="{{movie.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <h6 class="card-title">{{movie.director}}</h6>
        <p class="card-text">{{movie.description}}</p>
        <p class="card-text"><small class="text-muted">Stars: {{movie.stars}}</small></p>
        {{#each movie.showtimes}}
        <p class="card-text">{{this}}</small></p>
        {{/each}}
      </div>
    </div>
  </div>
</div>
 

  
