<h1>{{movie.title}}</h1>
<div>
  <h2>Director: {{ movie.director}}</h2>

  <h4>Stars</h4>
  <ul>
    {{#each stars as | star |}}
    <li>
      {{ star }}
    </li>
    {{/each}}
  </ul>
  <p>{{ movie.description}}</p>

  <ul>
  {{#each shows as |show|}}
    {{show}} | 
  {{/each}}
</ul>
  <img src="{{movie.image}}" alt="movie">

  <a href="/movies">Go Back</a>
</div>