
<div class="card mb-3" style="max-width: 1200px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ movie.image }}" class="img-fluid img-center" alt="image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 style="font-weight: bold;">{{ movie.title }}</h1>
        <h3 style="font-weight: bold;">Director: {{ movie.director }}</h3>
         <h5 style="font-weight: bold;">Stars</h5>
            <ul>
              {{#each stars as | star |}}
              <li>
                {{ star }}
              </li>
              {{/each}}
            </ul>
        <p class="card-text">{{ movie.description }}</p>
        <ul>
          {{#each shows as |show|}}
            {{show}} | 
          {{/each}}
        </ul>
        <a href="/movies">Go Back</a>
      </div>
    </div>
  </div>
</div>