 <div class="container">
   <div class="row">

   
         <div class="col-6 p-1">
          <img class="mx-auto d-block" src="{{b.image}}">
        </div>
        <div class="col-6 p-2">
          <h5>{{b.title}}</h5>
            {{b.director}}
            </p>
          <p>{{b.description}}</p>
          {{#each b.stars}}
           <li class="m-3">{{this}}</li> 
          {{/each}}
          {{#each b.showtimes}}
           {{this}} |
          {{/each}}
        </div>
   </div>
 </div>