 <div class="container">
   <div class="row">
    {{#each b}}
         <div class="col-6 p-1">
          <img class="mx-auto d-block" src="{{image}}">
        </div>
        <div class="col-6 p-2">
          <h5>{{title}}</h5>
          <p>
            {{director}}
            </p>
          <p>{{description}}</p>
          {{#each stars}}
           <li class="m-3">{{this}}</li> 
          {{/each}}
          {{#each showtimes}}
           {{this}} |
          {{/each}}
        </div>
      {{/each}}
   </div>
 </div>