<section>
    <article class="row">
        <div class="col-2">
            <img src="{{movie.image}}" alt="">
        </div>
        <div class="col-10 pl-5">
            <a href="/movies">Go Back</a>
            <h2>{{movie.title}}</h2>
            <h4>Director: {{movie.director}}</h4>
            <strong>Stars:</strong>
            <ul>
                {{#each movie.stars}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{movie.description}}</p>
            <p>
                {{#each movie.showtimes}}
                <span>{{this}}</span> |
                {{/each}}
            </p>
            
        </div>
    </article>
</section>