<h3>{{title}}</h3>
<img src="{{image}}" alt="">


<h4>Director</h4>
<p>{{director}}</p>

<h4>Starts</h4>
{{#each stars}}
<p>{{this}}</p>
{{/each}}

<h4>Description</h4>
<p>{{description}}</p>

<h4>Show Times:</h4>
{{#each showtimes}}
<p>{{this}}</p>
{{/each}}