<main>
    <div class="container">
        <div class="row">
            <h1>{{title}}</h1>
            <h2>Director: {{director}}</h2>
            <li><img class="center-img" src="{{image}}"></li>
            <ul> 
               <strong>Stars</strong>
                {{#each stars}}
                <li> {{this}} </li>
                {{/each}}
            </ul>
            <div> {{description}}</div>
            <div>
                <ul>
                    {{#each showtimes}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <a href="/movies">Go back</a>
    </div>
</main>