<h2>
    {{movieItem.title}}
</h2>
<p>
    Director : {{movieItem.director}}
</p>
<p>
    Stars
</p>
<ul>
    <li>
        {{this.stars[0]}}
    </li>
    <li>
        {{this.stars[1]}}
    </li>
    <li>
        {{this.stars[2]}}
    </li>
</ul>
<p>
    {{movieItem.description}}
</p>