<h2>
    Ironhack Cinema
</h2>
<p>
    Click on the movie to check the showtimes !
</p>

<ul>
  {{#each movieArray}}
    <li>
        <img src="{{this.image}}" alt="Image of {{this.name}}">
      <h3>
        {{this.title}}
      </h3>
      <a href="/watch?m={{this._id}}">
        See more (YouTube style)
      </a>
    </li>
  {{else}}
    <li>
      No movies yet...
    </li>
  {{/each}}
</ul>