<a href="/movies">Go back</a>

<div class="container">
  <div class="row movie">
    <div class="col">
      <img src="{{movie.image}}" height=200>
    </div>
    <div class="col-5">
      <h2>{{movie.title}}</h2>
      <h3>{{movie.director}}</h3>
      <h4>Stars:</h4>
      <ul>
        {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <p>{{movie.description}}</p>
      <p>
        {{#each movie.howtimes}} {{this}} |
        {{/each}}
      </p>
    </div>
  </div>
</div>