<hr>

<div class="row">
   <div class="col-sm-3 poster"> 
   <img src="{{movie.image}}">

   </div>
   <div class="col-sm-9 movieDesc">
   <a href="/movies">Go Back</a>
   <h2>{{movie.title}}</h2>
   <h3>Director: {{movie.director}}</h3>
    <br>
    <h4>Stars:</h4>
    <span>{{movie.stars}}</span>
    <br>
    <span>{{movie.showtimes}}</span>

   </div>

</div>

