<img class = "one-image"src = {{movie.image}}>

<div class = "movie-info-column">
<p class = "one-title">{{movie.title}}</p>
<p class = "one-director">Director: {{movie.director}}</p>
<p id="stars">Stars:</p>
<li class = "one-stars">{{movie.stars}}</li>
<p class = "one-description">{{movie.description}}</p>
<p class = "single-showtimes"> | {{movie.showtimes}}</p>
</div>