<div id="grid">
  {{#each movie}}
  <div id="areaA">
    <img src="{{this.image}}" alt="">
  </div>
  <div id="areaB">
    <h1>{{this.title}}</h1>
    <h3>{{this.director}}</h3>
    <ul>
      {{#each this.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{this.description}}</p>

    <div class="flex-list">
      <ul>
        {{#each this.showtimes}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/each}}
</div>

<div align = "center" >
</div>