<div class="row">
    <div>
        <img src={{obj.image}}>
        <a href="/movies">Go Back</a>
        <h1>{{obj.title}}</h1>
        <h2>{{obj.director}}</h2>
        <ul>
            {{#each obj.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{obj.description}}</p>
        <p>{{obj.showtimes}}</p>
    </div>
</div>