<div class="row">
  <div class="col-2">
    <img src={{movie.image}}>
  </div>
  <div class="col-6">
    <a href="/movies">Go back</a>
    <h3>{{movie.title}}</h3>
    <h3>{{movie.director}}</h3>
    <p><b>stars</b></p>

    <ul>
      {{#each movie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>{{movie.description}}</p>

    <p>{{#each movie.showtimes}}
      {{this}} |
      {{/each}}
    </p>

  </div>
</div>



