<h1>This is the details</h1>


{{movie.title}} {{movie.director}} {{movie.description}} {{movie.starts}} {{movie.showTimes}}
<img src="{{movie.image}}" alt="image-movie">

<div><a href="/list">Go back</a></div>