<h1>{{header}}</h1>

<a href="/movies">Regresar</a>

<p>
  <strong> Director: {{movie.director}}</strong>
</p>
<img src="{{movie.image}}">

 
<ul> <h2>Stars</h2>
  <li>
  {{movie.stars}}
  </li>
</ul>
  

<p>
  {{movie.description}}
</p>
<p>
  {{movie.showtimes}}
</p>