<h1>WELCOME TO THE MOVIE DETAILS PAGE</h1>

<div class="movieDetails">
  <span>{{movie.title}}</span>
  <span>{{movie.director}}</span>
  <span>{{movie.stars}}</span>
  <img src={{movie.image}}>
  <span>{{movie.description}}</span>
  <span>{{movie.showtimes}}</span>
</div>