<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>

      <li>



        <img src=" {{onemovie.image}}" alt="">
        <h1>{{onemovie.title}}</h1>
        <h2> {{onemovie.director}}</h2>

        <h4>stars: {{onemovie.stars}}</h4>
        <p>{{onemovie.description}}</p>
        <h5>{{onemovie.showtimes}}</h5>


        <!-- <h2>STARS</h2> -->
        <!-- {{this.stars}} -->


      </li>

    </ul>

  </body>
</html>
<!-- <div class="">

  {{#each onemovie}}
  {{this.title}}

  {{/each}}
</div> -->
