


{{#each moviesArray}}

<div>
  <div><img src="{{this.image}}" alt=""></div>
  <div>
    <p>{{this.title}}</p>
    <p>{{this.director}}</p>
    <p>{{this.description}}</p>
    <p>{{this.showtimes}}</p>
    <p>{{this.stars}}</p>
  </div>
</div>

{{/each}}

Test!!!!!!!