<body>
  <section class="movie-detail container">
    <div class="cover-container">
      <img src=" <%= movie.image %>" alt="<%= movie.title %> cover">
    </div>
    <div class="movie-info">
      <a href="/movies">Go back</a>
      <h1><%= movie.title %></h1>
      <h2 class="director">Director: <%=movie.director%></h2>
      <h3 class="stars">Stars</h3>
      <ul class>
        <% movie.stars.forEach((item) => { %>
          <li><%= item %></li>
        <% }) %>
      </ul>
      <p> <%= movie.description %> </p>
      <div class="showtimes-container">
        <% movie.showtimes.forEach((item) => { %>
        <p> <%= item %> |</p>
        <% }) %>
      </div>
    </div>
  </section>
</body>