
<section>
  
  <div class="container card detalle">
    <a href="/movies">back</a>
  <img src="{{image}}" alt="">
  <h2>{{title}}</h2>
  <h3>{{director}}</h3>
  <p>{{stars}}</p>
  <p>{{description}}</p>
  <h5>{{showtimes}}</h5>
</div>
</section>