<h1>Create a movie</h1>

<form action="/list" method="post">

    <label for="">title:</label>
    <input type="text" name="title" value="{{movie.title}}">
    <br>
    <br>
    <label for="">director:</label>
    <input type="text" name="director" value="{{movie.director}}">
    <br>
    <br>
    <label for="">stars:</label>
    <input type="text" name="stars" value="{{movie.stars}}">
    <br>
    <br>
    <label for="">image:</label>
    <input type="text" name="image" value="{{movie.image}}">
    <br>
    <br>
    <label for="">description:</label>
    <input type="text" name="description" value="{{movie.description}}">
    <br>
    <br>
    <label for="">showtimes:</label>
    <input type="text" name="showtimes" value="{{movie.showtimes}}">
    <br>
    <br>
    <button type="submit">EDIT</button>

</form>