<h1> Details of: {{ movie.title }} </h1>

<h2>by {{ movie.director }} </h2>

<h3>Stars: {{movie.stars}} </h3>

<img src="{{movie.image}}" alt="{{movie.title}}">

<p><b>Description:</b>{{ movie.description }}</p>
<br>

<a href="/movies">Go to movies list page</a>