<div class="details">
    <div class="poster"><img src="{{movies.image}}" alt=""></div>
    <div class="informations">
        <a href="/movies">Go back</a>
        <h1>{{movies.title}}</h1>
        <h3>Director : {{movies.director}}</h3>
        <h4>Stars</h4>
        <ul>
            {{#each movies.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movies.description}}</p>
        <p>
            {{#each movies.showtimes}}
            {{this}} |
            {{/each}}
        </p>
    </div>
</div>