<div class="movie-container">
  <h1>Cinema Ironhack</h1>
  <a class="return-button" href="/movies">Go back</a>
  {{#each detailsMovie}}
  <h1>{{title}}</h1>
  <img src="{{image}}" alt="">
  <p>{{director}}</p>
  <p>{{description}}</p>
  <p>{{stars}}</p>
  <p>{{showtimes}}</p>
  {{/each}}
</div>