<a href="/" title="goback"> Go Back</a>
<ul>
    <li class="content">
        <img src="{{seeds.image}}" alt="defaultimg">
        {{seeds.title}}
        {{seeds.director}}
        {{seeds.description}}
        {{seeds.showtimes}}
    </li>
</ul>