<img class = "poster" src="{{image}}" alt="movie image">
<p class = "description">{{title}}</p>
<p class = "description">{{director}}</p>
<p class = "description">{{stars}}</p>
<p class = "description">{{description}}</p>
<p class = "description">{{showtimes}}</p>