<div>
  <img src="{{oneMovie.image}}" alt="">
  <h1>{{oneMovie.title}}</h2>
    <h2>{{oneMovie.director}}</h2>
    <p style="font-weight: bold;">Stars</p>
    <ul>
      {{#each oneMovie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{oneMovie.description}}</p>
    <p>{{oneMovie.showtimes}}</p>
    <a href="/movies">Go Back</a>
</div>