<img src="{{this.image}}" alt="">
<h2>{{movie.title}}</h2>
<p>{{this.director}}</p>

{{#each stars}}
<ul>
  <li>{{this}}</li>
</ul>

{{/each}}
<p>{{this.description}}</p>
{{#each showtimes}}
<span>{{this}} |</span>
{{/each}}

<p><a href="/">Home</a></p>
<p><a href="/movies">More movies</a></p>
