<h2>Movie details</h2>

<p class="title"> 
  Title : {{movieDetails.title}}
</p>
<p class="director">
  Director : {{movieDetails.director}}
</p>
<p class="stars">
  Stars : {{movieDetails.stars}}
</p>
<p class="image">
  Image : {{movieDetails.image}}
</p>
<p class="description">
  Description : {{movieDetails.description}}
</p>
<p class="showtimes">
  Showtimes : {{movieDetails.showtimes}}
</p>