<h1>{{movieDetails.title}}</h1>
 <h2>{{movieDetails.director}}</h2>

  <h3>{{movieDetails.stars}}</h3>

<img src="{{movieDetails.image}} " alt="">
 <h3>{{movieDetails.description}}</h3>

 {{!-- {{#each movieDetails}} --}}
 <h3>{{movieDetails.showtimes}}</h3>
 {{!-- {{/each}} --}}



{{!-- title : {type: String, unique: true, required: true},
    director: String,
    stars: [String],
    image: String,
    description: String,
    showtimes: --}}