<div class="detail">
  <img src="{{image}}" alt="">
  <div class="detail-info">
    <a href="/movies">Go back</a>
    <h3>{{title}}</h3>
    <h4>Director: {{director}}</h4>
    <h5>Stars</h5>
    <ul>
      {{#each stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{description}}</p>
    <p>{{#each showtimes}}
      {{this}} | 
      {{/each}}</p>
  </div>
</div>