{{#with details}}
<a href="/movies">Go back</a>
<img src={{this.image}} alt="">
<h1>{{this.title}}</h1>
<h2>Director: {{this.director}}</h2>
<h3>Stars</h3>
<ul>
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{this.description}}</p>
<ul>
    {{#each showtimes}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/with}}