<section>
  <div>
    <img src="{{image}}" alt="">
  </div>
  <div>
    <a href="/movies"> Go back</a>
    <h2>{{title}}</h2>
    <p>Director: {{director}}</p>
    <p>{{stars}}</p>
    <p>{{description}}</p>
    <p>{{showtimes}}</p>
  </div>
</section>