
<section class="each-movie-section">
  <img class="each-movie-image" src="{{foundMovie.image}}" alt="">
  <div>
    <a href="/movies">Go back</a>
    <p class="each-movie-title">{{ foundMovie.title }}</p>
    <p class="each-movie-director">Director: {{ foundMovie.director }}</p>
    <p>Stars</p>
    <ul>
      {{#each foundMovie.stars}}
        <li>{{ this }}</li>
      {{/each}}
    </ul>
    <p>{{ foundMovie.description }}</p>
    <div>
    {{#each foundMovie.showtimes}}
       {{this}} | 
    {{/each}}
    </div>
  </div>
</section>
<a href="/movies/{{ foundMovie._id }}/edit" class="btn-edit">Edit Movie</a>