<div class="movie-img">
  <img src="/uploads/{{movie.image}}">
  <div class="data-text">
    <a href="/movies" class="text-white">Go back | </a>
    <a href="/movie/delete?movieId={{movie._id}}" class="text-white">Delete movie | </a>
    <a href="/movie/update/{{movie._id}}" class="text-white">Update Movie</a>
    <h1>{{movie.title}}</h1>
    <h4>Director: {{movie.director.fullName}}</h4>
    <h6 class="font-weight-bold">Stars</h6>
    <ul>
      <li>{{movie.stars.[0]}}</li>
      <li>{{movie.stars.[1]}}</li>
      <li>{{movie.stars.[2]}}</li>
    </ul>
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
      <span>{{this}} |</span>
    {{/each}}
  </div>
</div>
