<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<p class="text-center"> <a href="/" class="text-danger text-center"> Go back to movies list</a></p>

		</div>
		{{#with filmItem}}
		<div class="col-md-4">
			<img class="mx-auto d-block shadow-sm p-1 mb-1 bg-white rounded poster-thumb" src="{{this.image}}" alt="{{this.title}}">
		</div>

		<div class="col-md-8 py-3">
			<div class="film-card">
				<h3 class="pt-3">{{this.title}}</h3>
				<h5 class="pt-3">{{this.director}}</h5>
				<strong>Stars :</strong>
				<ul>
					{{#each this.stars}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
				<p class="pt-3">{{this.description}}</p>
				| {{#each this.showtimes}}
				{{this}} |
				{{/each}}
			</div>
		</div>
		{{/with}}
	</div>