<div class='info-container'>
  <div class='movie-image'>
    <img src="{{info.image}}" alt="movie image">
  </div>

  <div class='movie-text'>
    <a href="/movies"> Back </a>

    <h1>{{info.title}}</h1>
    <h3>{{info.director}}</h3>

    <p>Stars</p>
    <ul>
      {{#each info.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>{{info.description}}</p>

    <ol>
      {{#each info.showtimes}}
      <li>{{this}}</li>
      {{/each}}
    </ol>
  </div>
</div>