<div id="infos_container">
    <div class="img_infos_container">

        <img src="{{movie.image}}" alt="image">

    </div>
    <div class="info_movie">
        <a href="/movies">Go back</a>

        <h1 class="movie_titles">{{movie.title}}</h1>

        <h2> Director: {{movie.director}} </h2>
        <h3>Stars</h3>



        <span>{{movie.stars}}</span>



        <p> {{movie.description}} </p>

        <span>{{movie.showtimes}}|</span>



    </div>
</div>