{{!-- <h1>Books</h1>
{{#each books}}
   <p><a href="books-{{this._id}}">{{this.title}}</a></p> 
    <p><a href="/books/{{this._id}}">{{this.title}}</a></p>
{{/each}}

<h2>Reviews</h2>
{{#each book.reviews}}
<div class="review-item">
  <p>{{this.comments}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}} --}}

