
{{#if movie}}
  <div><img src="{{movie.image}}" alt=""></div>
  
  <div>
    <h1>{{movie.title}}</h1>
    <h2>Director: {{movie.director}}</h2>
    <h2>Stars</h2>

     <ul>
     {{#each stars}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <p>{{movie.showtimes}}</p>
  </div>

{{/if}}