{{#with theMovie}}
<img src="{{this.image}}" alt="">
<h1>{{this.title}}</h1>
<h2>Director: {{this.director}}</h2>
<h4>Stars</h4>
<p>{{this.stars}}</p>
<h4>Description: </h4>
<p>{{this.description}}</p>
<p>{{this.showtimes}}</p>
{{/with}}

<a href="/movies/list">Volver a la lista</a>


{{!-- stars
:
showtimes
:
title
:
"A Wrinkle in Time"
director
:
"Ava DuVernay"
image
:
"https://images-na.ssl-images-amazon.com/images/M/MV5BMjMxNjQ5MTI3MV5BM..."
description
: --}}