<h1>{{ title }}</h1>
<div>
    <img src="{{image}}" alt="">
</div>
    <h3> {{ director }}</h3>
    <h4> {{ stars }}</h4>
    <p>{{ description }}</p>
    <p>{{ showtimes }}</p>

    <a href="../movies">back</a>