<div class="imageOfMovie">
  <img src="{{movie.image}}" alt="">
<div>

<div>
  <a href="/movies">Go Back</a>
  <div>{{movie.director}}</div>
  <div>{{movie.stars}}</div>
  <div>{{movie.description}}</div>
  <div>{{movie.showtimes}}</div>
</div>