<hr class="uk-divider-icon">
<section class="uk-section uk-padding-remove-top uk-section-muted">
    <div class="uk-container uk-container-expand">
        <h1>ShowTimes</h1>
    </div>
    <div class="uk-container uk-container-expand">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-card uk-card-default uk-card-body uk-width-auto">
                <img data-src="{{image}}" alt="" uk-img>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-width-expand">
                <a href="/movies">Go Back</a>
                <h4>{{title}}</h4>
                <p>Director: {{director}}</p>
                <p>Stars:</p>
                <ul>
                    {{#each stars as |star|}}
                    <li>{{star}}</li>
                    {{/each}}
                </ul>
                <p>{{description}}</p>
                <p>
                    {{#each showtimes as |time|}}
                    {{time}} |
                    {{/each}}
                </p>
            </div>
        </div>
    </div>
</section>