<div class="giovanni">
<img src="{{image}}">
<h1>{{title}}</h1>
<h2>Director:</h2>
<p>{{director}}</p>
<h2>Description:</h2>
<p>{{description}}</p>
<h2>Staring:</h2>
{{#each stars}}
<p>{{this}}</p>
{{/each}}
<h3>Showtimes:</h3>
{{#each showtimes}}
<p>{{this}}</p>
{{/each}}
</div>