<H1>All available movies</H1>
<div class="moviecard">

  {{this.name}}
  
    {{#each moviesList}}
<div class="eachmovie">
    <p><img src={{image}} />
      <p><a href="/movies/{{_id}}"></p>
      {{title}}</a>
      <p> by {{director}}</p>
  </div>
  
  {{/each}}

</div>