<h1>{{this.title}}</h1>
<div class="moviecard">
  <p><img src={{image}} /></p>
  <div class="eachmovie">

    <p>starring </p>

    <ul>
      {{#each this.stars}}
      <li>{{this}} </li>
      {{/each }}
      </p>
    </ul>

  </div>


  <p>{{description}} </p>


  <p>Showtimes </p>
  <p>
    {{#each this.showtimes}}

    {{this}}

    {{/each }}
  </p>

  <p>directed by: {{ director }}</p>

</div>