{{!-- display one movie when clicked on the button --}}

<div id="movie">
    <div class="movie_div">
        <img src="{{ movie.image }}" alt="image">
    </div>

    <div class="movie_content">
        <a href="/movies">Got back</a>
        <h1> {{ movie.title }}</h1>
        <p> <b> Director: </b> {{ movie.director }} </p>
        
        <p id="stars"> <b>Stars:</b> </p>
        <ul> 
        {{#each movie.stars}}
            <li> {{ this }} </li> 
        {{/each}}
        </ul>

        <p id="des"> {{ movie.description }} </p>
        <p> {{ movie.showtimes }} </p>
    </div>
</div>
