<div>
  <div>
    <img src="{{movie.image}}" alt="{{movie.title}}">
  </div>
  <div>
    <a href="/">Go Back</a>
    <h2>{{movie.title}}</h2>
    <h3>Director : {{movie.director}}</h3>
    <h4>Stars : </h4>
    {{#each movie.stars}}
    <li>{{this}}</li>
    {{/each}}
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
    <span>{{this}}</span>
    {{/each}}
  </div>
</div>