<div class="movie-container">
  <div class="movie-img-div">
    <img src="{{theMovie.image}}" alt="">
  </div>
  <div class="movie-info">
    <a href="/movies">Go back</a>
    <h2>{{theMovie.title}}</h2>
    <h3>{{theMovie.director}}</h3>
    <h4>Stars</h4>
    <ul>
      {{#each theMovie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{theMovie.description}}</p>
    <div>
      {{#each theMovie.showtimes}}
      {{this}} |
      {{/each}}
    </div>
  </div>
</div>


{{!-- title: String,
  director: String,
  stars: Array,
  image: String,
  Description: String,
  Showtimes: Array --}}