<h2>movie description</h2>

<img src="{{movies.image}}" alt="">
<br>
<h2>{{movies.title}}</h2>
<br>
<h2>{{movies.director}}</h2>

<br>
<p>{{movies.description}}</p>
<br>
<p>{{movies.stars}}</p>
<br>
<p>{{movies.showtimes}}</p>