<div>
    <div>
        <img src="{{movie.image}}" alt="">
    </div>
    <div>
        <a href="/movies">Go back</a>
        <h1>{{movie.title}}</h1>

        <span>
            <h4>Director:</h4> {{movie.director}}
        </span>
        <ul>
            <h4>Stars:</h4>
            {{#each movie.stars}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        <p>
            <h4>Description:</h4>{{movie.description}}
        </p>
        <p>
            <h4>Showtimes:</h4>
            {{#each movie.showtimes}}
            {{this}}
            {{/each}}
        </p>
    </div>

</div>