<div class="row">
    <div class="col-4">
        <img class="movie-img" src="{{movie.image}}" alt="{{title}}">
    </div>

    <div class="col-7">
        <a href="/movies/{{this._id}}" class="btn text-primary">Go back</a>
        <h1 class="font-weight-bold text-left">{{movie.title}}</h1>
        <h2 class="font-weight-bold text-left">Director: {{movie.director}}</h2>
        <h3 class="font-weight-bold text-left">Stars</h3>
        <ul>
            {{#each movie.stars}}
            <li class="text-left">{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}</p>

    </div>
</div>