<div class="oneMovie-body">

  <div class="oneMovieImg">
    <img src={{movie.image}}>
  </div>

  <div class="container">

    <a href="/movies">Go back</a>

    <h2>{{movie.title}}</h2>

    <h3>Director: {{movie.director}}</h3>

    <h4>Stars</h4>
    <ul>
      {{#each movie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>{{movie.description}}</p>

    <div>
      {{#each movie.showtimes}}
      {{this}} |
      {{/each}}
    </div>
  </div>
</div>