<div class="movie-view">
  <div class="movie-image"><img src="{{image}}" alt="{{title}}"></div>
  <div class="movie-details">
    <a href="/movies/">Go back</a>
    <h1>{{title}}</h1>
    <h2>Director: {{director}}</h2>

    {{#unless stars}}
    {{/unless}}
    <h3>Stars</h3>
    <ul>
      {{#each stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>{{description}}</p>

    <ul class="showtimes">
      {{#each showtimes}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

  </div>
</div>