{{!-- 
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src={{movie.image}} class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{movie.title}}</h3>
        <h5 class="card-text"><b>Directed by: </b>{{movie.director}}</h5>
         <ul> <span><b>Cast:</b></span>
        {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
        <p class="card-text"><b>Synopsis: </b>{{movie.description}}</p>
        <ul> <span><b>Show Times:</b></span>
        {{#each movie.showtimes}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
        <a href="/movies"><button class="btn btn-danger" type="submit">Go Back</button></a>
      </div>
    </div>
  </div>
</div> --}}

<div class="theater">
<div class="container conta">
<div class="row">
    <div class="col">
      <img src={{movie.image}} class="card-img img-profile" alt="...">
    </div>
    <div class="col">
            <div class="card-body">
        <h3 class="card-title">{{movie.title}}</h3>
        <h5 class="card-text"><b>Directed by: </b>{{movie.director}}</h5>
         <ul> <span><b>Cast:</b></span>
        {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
        <p class="card-text"><b>Synopsis: </b>{{movie.description}}</p>
        <ul> <span><b>Show Times:</b></span>
        {{#each movie.showtimes}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
        <a href="/movies"><button class="btn btn-danger" type="submit">Go Back</button></a>
      </div>
    </div>
  </div>
</div>
</div>