<p>{{hbsObj.movie.title}}</p>
<p>{{hbsObj.movie.director}}</p>
<p>{{hbsObj.movie.stars}}</p>
<p>{{hbsObj.movie.duration}}</p>
<p>{{hbsObj.movie.description}}</p>
<p>{{hbsObj.movie.genre}}</p>
<p>{{hbsObj.movie.rate}}</p>
<img src="{{hbsObj.movie.image}}" alt="didnt work">