<h1>detalle</h1>
<img src="{{movie.image}}" alt="imagen">

<p id="movietitle">{{movie.title}}</p>
<p id="director">Director: {{movie.director}}</p>

<ul>

  <li>{{movie.stars.[0]}}</li>
  <li>{{movie.stars.[1]}}</li>
  <li>{{movie.stars.[2]}}</li>

</ul>

<span>{{movie.description}}</span>

<p>{{movie.showtimes}}</p>
 
 

<a href="/movies">Atras</a>
