<h1>movie id</h1>









<div class="container">

    <div class="row">

        <div class="col-3">
            <img class="photoFilm" src="{{movie.image}}">
        </div>

        <div class="col-7">
            <h1>{{movie.title}}</h1>
            <h2>{{movie.director}}</h2>
            <p>{{movie.stars}}</p>
            <p>{{movie.description}}</p>
            <p>{{movie.showtimes}}</p>
        </div>
    </div>
</div>