<a href="/movies">< Go Back To Movies</a>



<div id="movie">
    <div>
        <img src={{this.image}} alt="{{this.title}}">
    </div>
    
  <div>
    <h1>{{this.title}}</h1>
    <h2>{{this.director}}</h2>

    <ul>
        {{#each stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{this.description}}</p>
    <ul>
        {{#each showtimes}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
</div>
