<div class="page">
    <h1 class="title">IronHack Cinema</h1>
       <a href="/">Go back</a>
    <div class="movie-container">
        <div class="movie">
            <img src="{{movie.image}}" alt="movie image">
            <div class="high-level-info">
                <p>{{movie.title}}</p>
                <p>{{movie.director}}</p>
       
                <p>{{movie.description}}</p>
                <p>{{movie.stars}}</p>
                <p>{{movie.showTimes}}</p>

            </div>
        </div>
       
    </div>
</div>