
<h1>Details</h1>
<div id="tododetails">
<img src="{{this.image}}" alt="">
<div id="descriptions">
<p id="movietitle">{{this.title}}</p>
<p id="director">Director: {{this.director}}</p>
<ul>
  
  <li>{{this.stars.[0]}}</li>
  <li>{{this.stars.[1]}}</li>
  <li>{{this.stars.[2]}}</li>
  
</ul>
<span>{{this.description}}</span>

<p>{{this.showtimes}}</p>
<a href="/movies">Go Back</a>
</div>
</div>