<main id="movies">
  <h1>Ironhack Cinema > Movie listings</h1>
  <p>Click on the movie to check showtimes!</p>
  <div id="movie-results">
    {{#each movies}}
    <div class="movie">
      <img src="{{this.image}}" />
      <div class="movie-info">
        <h2>{{this.title}}</h2>
        <div id="buttons">
          <a class="button" href="movie/{{this.id}}">See more</a>
          <a class="button" href="movie/{{this.id}}/edit">Update</a>          
          <form action="movie/{{this.id}}/delete" method="post">
            <input class="button" type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</main>
