
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{movie.image}}" alt="Movie image" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a class="card-link" href="/movies/">Go Back</a>
        <br><br>
        <h5 class="card-title">{{movie.title}}</h5>
        <h4 class="card-title">Director: {{movie.director}}</h4>
        <h6>Stars</h6>
            <ul>
              {{#each movie.stars}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
        <p class="card-text">{{movie.description}}</p>
        <p class="card-text">{{movie.showtimes}}</p>
      </div>
    </div>
  </div>
</div>  