<div class="container">
  <img src="{{movie.image}}" alt="{{movie.title}}" class="img">
  <div class="container-movie">
    <a href="/movies" class="link link--movie">
      Go back
    </a>
    <h3 class="movie-title movie-title--movie">{{movie.title}}</h3>
    <h4 class="director">Director: {{movie.director}}</h4>
    <h5 class="stars-title">Stars</h5>
    <ul class="stars">
      {{#each movie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p class="description">{{movie.description}}</p>
    <ul class="showtimes">
      {{#each movie.showtimes}}
      <li class="showtime">{{this}}
      </li> |
      {{/each}}
    </ul>
  </div>

</div>