<div class="row">
  <div class="col-2">
    <img src="{{movie.image}}" alt="Movie Poster">
  </div>
  <div class="col">
    <h1>{{movie.title}}</h1>
    <h2>Director: {{movie.director}}</h2>
    <p>Stars</p>
    <ul>
      {{#each movie.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <ul class="show-list">
      {{#each movie.showtimes}}
        <li class="showtime">{{this}} | </li>
      {{/each}}
    </ul>
    <button type="button" class="btn-primary text-white"><a href="/movies">Go back to the list</a></button>
  </div>
</div>