<div class="container">
  <div class="row">
    <div class="col-4">

      <img src="{{image}}">

    </div>
    {{!-- solicito el title y demás para poder visualizarlo --}}
    <div class="col-9">

      <h1>{{title}}</h1>
      <br>
      --Director: {{director}}</h3>
      <br>
      <br>
      --Stars:
      <br>
      {{#each stars}}
      <br>
      <li>{{this}}</li>
      {{/each}}
      <br>
      <p>{{description}}</p>
      <br>
      --Showtimes: -
      {{#each showtimes}}
      {{this}} -
      {{/each}}
      <br>
      <br>
      <a class="btn btn-primary" href="/movies" role="button">Go back</a>
    </div>
  </div>
</div>