<div style="padding-top: 2%;">
    <a href="/movies" class="uk-button uk-button-link">Go back</a>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="{{image}}" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{title}}</h3>
                <p><strong>Director: </strong> {{director}}</p>
                <p>
                    <strong>Stars: </strong>
                    <ul class="uk-list">
                        {{#each stars}}
                        <li> {{this}} </li>
                        {{/each}}
                    </ul>
                </p>
                <p> {{description}}</p>
                <p>
                    {{#each showtimes}}
                    {{this}} |
                    {{/each}}
                </p>
            </div>
        </div>
    </div>
</div>