<div class="details">
  <img src="{{image}}" alt="{{title}}">
  <a href="/movies">Go back</a>
  <h3>{{title}}</h3>
  <p>{{director}}</p>
  <p>{{stars}}</p>
  <p>{{description}}</p>
  <p>{{showtimes}}</p>
</div>