<h2>Ironhack Cinema</h2>
<h3>Click on the movie to check the showtimes!</h3>


<div class="general">
    {{#each movies}}
        <div class="movies-container">
            <img src="{{this.image}}" alt="{{title}}"><br>
            {{title}}<br>
            <a href="/movies/movie/{{this.id}}" class="btn">See more</a>
            <form action="/movies/{{this._id}}/delete" method="POST"><button class="delete">Delete</button></form>

        </div>
    {{/each}}
</div>


<a class="add" href="/movies/add">Add movie</a>

