<h2>{{movie.title}}</h2>
<div class="general">
            <img class="movie-image" src="{{movie.image}}" alt="{{movie.title}}"><br>
</div>
<p class="bold">Director: {{movie.director}} </p>
Stars:
<ul>
  {{#each movie.stars}}
  <li>{{this}}</li>  
  {{/each}}
</ul>
<p>{{movie.description}}</p>

You can see the film at:
<ul>
  {{#each movie.showtimes}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<a href="/movies/update/{{movie.id}}">EDIT</a> 


