{{#with movie}}
<img src="{{image}}" alt="cover"><br>
<a href="/movies">Go back</a>
<h2>{{title}}</h2>
<h3>Director: {{director}}</h3>
<h4>Stars</h4>
<p>{{stars}}</p><br>
<p>{{description}}</p><br>
<p>{{showtimes}}</p>
{{/with}}