<div class="wrapper2">
  <h2>movie description</h2>
  <div>
    <img src="{{movies.image}}" alt="">
    <div class="right-content">
      <h2>{{movies.title}}</h2>
      <h3>{{movies.director}}</h3>
      <span>Stars</span>
      <ul>
        {{#each movies.stars as |st|}}
        <li>{{st}}</li>
        {{/each}}
      </ul>
      <p>{{movies.description}}</p>
      <br>
      {{#each movies.showtimes as |time|}}
      <p class="showtime">{{time}} | </p>
      {{/each}}
      {{!-- <p>{{movies.showtimes}}</p> --}}
    </div>
  </div>
</div>