{{#with movie}}
<div class="movie-container">
  <img src="{{image}}" alt="Poster for {{title}}">
  <div class="text-container">
    <a href="/movies">Go back</a>
    <h2>{{title}}</h2>
    <h3>{{director}}</h3>
    <h4>Stars</h4>
    <ul>
      {{#each stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{description}}</p>
    <h4>Showtimes</h4>
    <ul>
      {{#each showtimes}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/with}}