{{!-- <--movie-detail.hbs--> --}}
<a href="/movies">Go Back</a>
<table>
  <tr>
    <td><img src="{{movie.image}}" alt="Cinema Image" width="200px" height: "200px"></td>
    <td>
     <h2>{{movie.title}}</h2>
     <h3>Director: {{movie.director}}</h3>
     <h4>Stars</>
     <ul> 
       {{#each movie.stars}}
       <li>{{this}}</li>
       {{/each}}
     </ul
     <span> {{movie.author}}</span>
     <p>{{movie.description}}</p>
     <ul> 
       {{#each movie.showtimes}}
       <li class="showtimes-li">{{this}}</li>
       {{/each}}
     </ul
    </td> 
  </tr>
 
</table>
