<div class='movie-details-card'>
  <div>
    <img src="{{movie.image}}" alt="">
  </div>
  <div class="movie-details">
    <h1>{{movie.title}}</h1>
    <h2>Director: {{movie.director}}</h2>
    <h4>Stars:</h4>
    <ul>
      {{#each movie.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <div>
      {{#each movie.showtimes}}
        <span>{{this}} |</span>
      {{/each}}
    </div>
    <br>
    <a href="/movies">Back</a>
  </div>
</div>
