{{#with movie}}
<img src='{{image}}'>
<p><a href='javascript:javascript:history.go(-1)'>Go back</a></p>
<h2>{{title}}</h2>
<h3>Director: {{director}}</h3>
<h4>Stars</h4>
<ul>
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p>{{description}}</p>

<ul>
    {{#each showtimes}}
    <li>{{this}}</li>

    {{/each}}
</ul>
{{/with}}