<div class="container">
  <div class="row" >
    <div class="col-1"></div>
    <div class="col-3 pr-0">
        <div class="card justify-content-center align-items-center" style="height: 100%;">
          <img class="card-img-top" src="{{ moviex.image }}" alt="Card image cap" style="height: 100%; width:auto;">
          
        </div>
    </div>

    <div class="col-6 pl-0">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <p class="card-text"><a href="/movies">Go back</a></p>
          <h5 class="card-title">{{ moviex.title }}</h5>
          <h6 class="card-title">Director: {{ moviex.director }}</h6>
          <h7 class="card-title"><strong>Stars</strong></h7>
          <ul class="mt-3">
            {{#each moviex.stars}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <p class="card-text">{{ moviex.description }}</p>
          
            {{#each moviex.showtimes}}
              <span>{{this}} | </span>
            {{/each}}
          
        </div>
      </div>
    </div>

  </div>
</div>
