<div>
<img src="{{movie.image}}" alt="">
<div>
    <h1>{{movie.title}}</h1>
    <h2>{{movie.director}}</h2>
    <ul>
    {{#each movie.stars}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <p>{{movie.showtimes}}</p>
</div>
</div>
