<div class="moviesCard-container">
  
  <div id="mc1">
    <img src="{{movie.image}}" alt="">
  </div>
  <div id="mc2">
     <a href="/movies/">Go Back</a>
    <h2>{{movie.title}}</h2>
    <h3>Director: {{movie.director}}</h3>
    <ul>
      {{#each movie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
    <span>{{this}} |</span>
    {{/each}}
  </div>
</div>