


<div class="oneMovie">
<div><img src="{{movie.image}}" alt=""></div>

<div class ="oneText">
    <a href="/movies">Go back</a>
    <h4>{{movie.title}}</h4>
    <h5>{{movie.director}}</h5>
    <h5>Stars</h5>
    <ul> {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
        
    </ul>
    <h5>{{movie.description}}</h5>
    <h5>{{#each movie.showtimes}}
         {{this}} |
        {{/each}}</h5>
    
    </div>

</div>
