<div class="">
  
    <div class="cards card" >
        <img class="card-img-top" src={{movie.image}} alt="Card image cap" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-text">{{movie.title}}</h2>
            <h3>Director :{{movie.director}}</h3>
            <h4>Stars:</h4>
                <ul>
                    {{#each movie.stars}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            <span>{{movie.description}}</span>
            <span>ShowTimes:</span><p>{{#each movie.showtimes}}{{this}}|{{/each}}</p>

           
            <a href="/movies">Back</a>
        </div>
    </div>
    
</div>