

<a href='/movies'>Back to movies </a>
<img src='{{movie.image}}'>
<h5>{{movie.title}}</h5>
<h6>Director: {{movie.director}}</h6>
<b>Stars</b>
<ul>{{#each}}<li><p>{{movie.stars}}</p></li></ul>

<p>{{movie.description}}</p>
<p>{{movie.showtimes}}</p>


