{{!-- display one movie when clicked on the button --}}

<div>
    {{ this.image }}
    <a href="/movies/{{ this._id }}">Got back</a>
    {{ this.title }}
    {{ this.director }}
    {{ this.stars }}

</div>
