<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <img src="{{movies.image}}" alt="">
    </div>
    <div class="col-md-9">
      <p><a href="/movies">Go back</a></p>
      <p>{{movies.title}}</p>
      <p>Director: {{movies.director}}</p>
      <p><strong>Stars</strong></p>
      <ul>
        {{#each movies.stars}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <p>{{movies.description}}</p>
      {{#each movies.showtimes}}
      {{this}} |
      {{/each}}

    </div>
  </div>
</div>