<div>
  <div>
    <img src="{{image}}" alt="" srcset="">
  </div>
  <div>
    <a href="">Go back</a>
    <h2>{{title}}</h2>
    <h3>{{director}}</h3>
    <h4>{{stars}}</h4>
    <p>{{description}}</p>
<p>{{showtime}}</p>
  </div>
</div>