{{#with movie}}
<img src="{{image}}" alt="">
<h1>{{title}}</h1>
<span>Starring by: {{stars}}</span>
<p>Showtimes: {{showtimes}}</p>
<p>Directed by: {{director}}</p>
<p>Summary: {{description}}</p>
{{/with}}