 <html>
 
  <head>
   <link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css">
 </head>
 {{#each moviesArr }}
 <h1>{{this.title}}</h1>
 <img src="{{this.image}}" />
 <p>{{this.title}}</p>
 <p>{{this.description}}</p>
 <p>{{this.showtimes}}</p>
 </div>
 {{/each}}
 
  
  
  </html> 