<div class="detail-flex">

  <img src="{{movieItem.image}}">

  <div class="text-flex">
    <a href="/">Go back</a>
    <h2>{{movieItem.title}}</h2>
    <h3>Director: {{movieItem.director}}</h3>
    <h4>Stars</h4>

    <ul>
      {{#each movieItem.stars}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>

    <p>{{movieItem.description}}</p>


    {{#each movieItem.showtimes}}

    {{this}} |

    {{/each}}
  </div>
</div>