<a href="/movie">go back</a>
</br>
<img src={{singleMovie.image}}>
</br>

<h1>{{singleMovie.title}}</h1>
<h2>director: {{singleMovie.director}}</h2>
<h3>stars</h3>
<ul>
    <li>{{singleMovie.stars.[0]}}</li>
    <li>{{singleMovie.stars.[1]}}</li>
    <li>{{singleMovie.stars.[2]}}</li>
</ul>
<p>{{singleMovie.description}}</p>
</br>

<p>{{singleMovie.showtimes.[0]}} | {{singleMovie.showtimes.[1]}} | {{singleMovie.showtimes.[2]}} | {{singleMovie.showtimes.[3]}} </p>