<div class="info-movie">
  <div class="movieCard">
    <img src={{theMovie.image}} class="imageMovie">
    <div class="infos">
      <a href="/movies">Go back!</a>
      <h1>{{theMovie.title}}</h1>
      <p>Director: {{theMovie.director}}</p>
      <p>Stars: {{theMovie.stars}}</p>
      <p>Summary: {{theMovie.description}}</p>
      <p>{{theMovie.showtimes}}</p>
    </div>
  </div>
</div>