<h1>Movie detail</h1>


{{this.movie.title}} <br>
{{this.movie.director}}<br>
{{this.movie.stars}}<br>
{{this.movie.image}}<br>
{{this.movie.description}}<br>
{{this.movie.showtimes}}<br>
</br>
<a href="http://localhost:3000/edit?id={{this.movie._id}}">Edit this movie</a>
