<div>
  {{!-- <img src="{{movies.title}}" alt=""> --}}
  <img src="{{movies.image}}" alt="">
  <p>{{movies.title}}</p>
  <p>Director: {{movies.director}}</p>
  {{!-- <p><a href="movie/{{_id}}">See more</a></p> --}}
</div>