<div>
    <button><a href="/movies">Go back</a></button>
    <img src="{{image}}" alt="">
    <p>{{title}}</p>
    <p>{{director}}</p>
    <p>{{starts}}</p>
    <p>{{description}}</p>
    {{#each showtimes}}
    <p>{{this}}</p>
    {{/each}}
</div>