<div>

{{#each movies}}

{{!-- <img src="{{this.image_url}}" alt="Beer Image"> --}}
<h2>{{this.title}}</h2>
<a href="/movieData/{{this._id}}">SIMOR</a>
{{!-- <h3>{{this.tagline}}</h3> --}}
{{!-- <p>{{this.description}}</p> --}}




 {{/each}}










</div>