<div class="details">
<img src="{{movieDet.image}}" alt="{{movieDet.title}}"/>
<div>
    <a href="/movies">Go Back</a>
    <h1>{{movieDet.title}}</h1>
    <h3>{{movieDet.director}}</h3>
    <h5>Stars</h5>
    {{#each movieDet.stars}}
    <li>
    {{this}}
    </li>
    {{/each}}

    <p>{{movieDet.description}}</p>
    {{#each movieDet.showtimes}}
    {{this}} |
    {{/each}}

</div>
</div>
