<h2>More Information</h2>

<img src="{{movie.image}}" alt="">

<h3 id="movietitle">{{movie.title}}</h3>
<h3 id="director">Director:{{movie.director}}</h3>
<span><h3>Description:</h3>{{movie.description}}</span>
<p>{{movie.showtimes}}</p>

<a href="/movies">Go Back</a>