<div class="movie-main">
  <div class="movie-img">
    <img src="{{movie.image}}">
  </div>
  <div class="movie-div">
    <a href="/movies">Go back</a>
    <h2>{{movie.title}}</h2>
    <h3>Director: {{movie.director}}</h3>
    <h4>Stars</h4>
    <ul>
      {{#each movie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p class="movie-pha">{{movie.description}}</p>
    {{#each movie.showtimes}}
    {{this}} |
    {{/each}}
  </div>
</div>