
{{#with result}}
  
  <img src="{{image}}">
  <h4><a href="/movies">Go back</a></h4>
  <h1>{{title}}</h1>
  <h2>Director: {{director}}</h2>
  
  <ul>
    {{#each stars}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <p>{{description}}</p>

  {{#each showtimes}}
    {{this}} |
  {{/each}}

{{/with}}