<h1>{{movie.title}}</h1>
<h2>{{movie.director}}</h2>

<div>
  <img src="{{movie.image}}" alt="">
  <p>{{movie.description}}</p>
</div>

{{movie.director}}
{{movie.director}}

<div>
  Go back to <a href="/movies">all movies</a>
</div>