<div class="detail-cont">
<img src= {{image}}>
<div class="detail-pos">
<a href="/movies">Go back</a>
 <h1> {{title}}</h1>
 <h2>{{director}}</h2>
 <p>Stars:</p>
 <small>{{stars}}</small>
 <p>{{description}}</p>
 <small>{{showtimes}}</small>
 </div>
 </div>
{{#if err}}
<h1>{{err}}</h1>
{{/if}}
