<h1>{{title}}</h1>
<img src={{image}} alt="">
<p>Directed by {{director}}</p>
<p>Description: {{description}}</p>
<p>Stars:</p>
<ul>
    {{#each stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>Showing times: {{showtimes}}</p>
<a href="/movies">Go back</a>