{{#each moviesList}}
<h1>{{title}}</h1>
<img src="{{image}}" alt="">
<p>Directed by {{director}}</p>
<p>Description: {{description}}</p>
<p>Stars: {{stars}}</p>
<p>Showing times: {{showtimes}}</p>
{{/each}}