<div class="go-back">
  <a href="/movies">Go back!</a>
  </div>

<div>
  <img src="{{image}}" alt="">
  <h1>{{title}}</h1>
  <h2>Director: {{director}}</h2>
  <h3>Stars: {{stars}}</h3>
  <h4>{{description}}</h4>
  <h6>{{showtimes}}</h6>

</div>