<div id="movie">

    <img src="{{movie.image}}" />
    <div id="ficha">
        <a class="space" href="/movies">Go back</a>
        <div class="space top">{{movie.title}}</div>
        <div class="space">{{movie.director}}</div>
        <ul class="space">
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <div class="space description">{{movie.description}}</div>
        {{#each movie.showtimes}}
        <span>{{this}} |</span>
        {{/each}}
    </div>
</div>