
<section class="singleMovie-container">
  <div class="singleMovie"> 
<img src={{movieItem.image}}/>
</div> 
<div class="singleMovie-description">

 <a href="/movies">go back</a>

<h3>{{movieItem.title}}</h3>
<h5>Director:{{movieItem.director}}</h5>
<p><b>stars:</b> 
    {{#each movieItem.stars}}
    <li>{{this}}</li>
    {{/each}}
</p>



<p>{{movieItem.description}}</p>

<h5>
    {{#each movieItem.showtimes}}
    <span>{{this}}</span>
    {{/each}}
</h5>
</div>
</section>
