<div class="movie-container">
  <div class="movie-details">
    <div class="movie-content">
        <img src={{movie.image}} alt="">
        <div class="movie-info">
          <a href="/movies">Go back</a>
          <h2>{{movie.title}}</h2>
          <h4>Director: {{movie.director}}</h4>
          <h5>Stars</h5>
          <ul>
            {{#each movie.stars}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <p>{{movie.description}}</p>
          <ul>
            {{#each movie.showtimes}}
              <li>{{this}} |</li>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</div>