<a href="/movies" class="sing-movie">Go back</a>

<div class="movie">
  <img src="{{movie.image}}" alt="Movie Img" class="posters">
  <div class="info-display">
    <p class="title black">{{movie.title}}</p>
    <p class="black">Director: {{movie.director}}</p>
    <p class="black">Stars</p>
    <ul>
      {{#each movie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    {{#each movie.showtimes}}
    <span>{{this}} |</span>
    {{/each}}
  </div>
</div>