<div class="outer-container">
  <div class="movie-container">
    <div class="image-container">
      <img src="{{image}}"/>
    </div>
    <div class="movie-info">
      <a class="movies-link" href="/movies">Go back</a>
      <h2 class="movies-link">{{title}}</h2>
      <h3 class="movies-link">Director: {{director}}</h3>
      <h4 class="movies-link">Stars</h4>
      <ul class="movies-link">
        {{#each stars}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <p class="movies-link">{{description}}</p>
      <p>{{#each showtimes}}
          {{this}} |
        {{/each}}
      </p>
    </div>
  </div>
</div>