<a href="/movies">Go back</a>
<div>
  <img src="{{movieItem.image}}" />
  <h2>{{movieItem.title}}</h2>
  <h3>Director: {{movieItem.director}}</h3>
  <p>Stars: {{movieItem.stars}}</p>
  <p> {{movieItem.description}} / 10</p>
  <p>{{movieItem.showtimes}}</p>
</div>