<div id="single-movie">
  {{#each movie}}
  <div id="movie">
    <img src="{{image}}" alt="">
  </div>
  <div id="description">
    <h3>{{title}}</h3>
    <h4>{{director}}</h4>
    <h5>Stars:</h5>
    <ul>
      {{#each stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{description}}</p>
    <ul id="showtimes">
      {{#each showtimes}}
      <li>{{this}} |</li>
      {{/each}}
    </ul>
    <a href="/movies/">Go back</a>
  </div>
  {{/each}}
</div> 

<!-- In this view we use the movie object that was passed and iterate over it
via the #each functionality, like if it was an array.
Using hbs we pass the specific keys of the object to the view that we want
to render. 
Since within the keys of the object are keys that are of type array, we can use
another #each to iterate through it's elements and get the values. -->