<div class="imageOfMovie">
  <img src="{{movie.image}}" alt="">
<div>

<div class="info">
  <a href="/movies">Go Back</a>
  <p class='movtitle'>{{movie.title}}</p>
  <p class="movdir">{{movie.director}}</p>
  <p>Star</p>
  <p class="movstar">{{movie.stars}}</p>
  <p>{{movie.description}}</p>
  <p>{{movie.showtimes}}</p>
</div>
