<div class="container">
<a href="/movies">Go back</a>
  <section class="movie-card">
    <div class="row">
      {{#with movie}}
      <div class="col-md-4 movie">
        <figure>
            <img src="{{image}}" alt="{{title}}" />
        </figure>
      </div>

      <div class="col-md-8">
          <h3>
            {{title}}
          </h3>
          <p><span class="bold-text">Director:</span> {{director}}</p>
          <p class="bold-text">Stars: </p>
          <ul>
            {{#each stars}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <p>{{description}}</p>
          <ul>
            {{#each showtimes}}
            <li class="showtime">{{this}} |</li>
            {{/each}}
          </ul>
      </div>
      
    </div>
    {{/with}}
  </section>
</div>