<div>
    <img src="{{this.image}}">
    <a href="/movies">Go back</a>
    <h2>{{this.title}}</h2>
    <h3>{{this.director}}</h3>
    <span>Stars</span>
    <ul>
        <li>{{this.stars.[0]}}</li>
        <li>{{this.stars.[1]}}</li>
        <li>{{this.stars.[2]}}</li>
    </ul>
    <p>{{this.description}}</p>
    <span>{{this.showtimes.[0]}} | {{this.showtimes.[1]}} |{{this.showtimes.[2]}} |{{this.showtimes.[3]}} |</pan>
</div>