<div class="movie">
    <div class="movieImage">
        <img src="{{movie.image}}">
    </div>
    <div class="details">
        <h4><b>{{movie.title}}</b></h4>
        <h5>Director: {{movie.director}}</h5>
        <ul>
            <b>Stars</b>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <ol class="showtimes">
            Showtimes
            <p>{{movie.showtimes}}</p>
        </ol>
        <a href="/movies">Go back</a>
    </div>
</div>