<h3>{{movie.title}}</h3>
<img src="{{movie.img}}" alt="">
<h4>Director:{{movie.director}}</h4>
<h4>Start</h4>
{{#each movie.starts}}
<li>{{this}}</li>
{{/each}}
<p>{{movie.description}}</p>
{{#each movie.showtimes}}
<span>{{this}}</span>
{{/each}}


