<div id="movie">

    <img src="{{movie.image}}" />
    <div id="ficha">
        <a href="/movies">Go back</a>
        <div>{{movie.title}}</div>
        <div>{{movie.director}}</div>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <div>{{movie.description}}</div>
        {{#each movie.showtimes}}
        <span>{{this}} |</span>
        {{/each}}
    </div>
</div>