<a href="/movies">Go back</a>
<div class="single-movie">
  <div class="movie-poster">
    <img src="{{movie.image}}"></img>
  </div>
  <div class="movie-info">
    <h3>{{movie.title}}</h3>
    <h4>Director: {{movie.director}}</h4>
    <h5>Stars</h5>
    <ul>
      {{#each movie.stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>{{movie.description}}</p>

    <ol class="showtimes">
      {{#each movie.showtimes}}
      <li>{{{this}}}</li>
      {{/each}}
    </ol>
  </div>
</div>