



<div class= "un">
    <div class = "deux"><img src = "{{movie.image}}"/></div>
    <div class = "trois">
        <div class = "quatre">{{movie.title}}</div> 
            {{movie.director}}</div>
    <div class = "cinq">{{movie.description}}</div>
    <div class = "six">
        <ul>{{#each movie.star}}
        <li>{{this}} </li>
        {{/each}}</ul>
    </div>
    <div class="sept">{{#each movie.showtimes}}{{this}} | {{/each}}</div>
</div>

