<div class="page">
    <div class="movie_image">
        <img src="{{movie.image}}" alt="">
    </div>
    <div class="movie_text">
        <a href="/movies">Go back</a>
        <h2>{{movie.title}}</h2>
        <h3>Director: {{movie.director}}</h3>
        <h4>Stars</h4>
        <ul class="movie_stars">
            {{movie.stars}}
        </ul>
        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}</p>
    </div>
</div>