<a href=""><img src= {{movies.image}} alt="" srcset=""></a>
<h1>{{movies.title}}</h1>
<h2>Directed by : {{movies.director}}</h2>
<span>Stars: 
   <ul class="stars">
  {{#each movies.stars}}
    <li>{{this}}</li>
  {{/each}}
</span>
<p>Summary: {{movies.description}}</p>
<p>Showtimes:
     <ul class="showtimes">
  {{#each movies.showtimes}}
    <li>{{this}}</li>
  {{/each}}
</ul>
</p>
<a href="/movies">Return</a>
