

<div class="seeMore">
  
  {{#each seeMore}}
  <img src="{{image}}"/>

  <div class ="hi">
 <h4 >{{title}}</h4>
  <p>{{stars}}</p>
  <p>{{description}}</p>
  <p>{{showtimes}}</p>
  <p>{{director}}</p>
   
  </div>
   

  {{/each}}
   <p><a href="/movies">Back</a></p>
</div>