{{#each moviesData}}
    <div class="showtimes_container">
        <div class="showtimes_content">
            <div class="showtimes_img">
                <img src="{{image}}" alt="{{title}} movie poster">
            </div>

            <div class="showtimes_text">
                <a href="/movies" class="go_back">Go back</a>
                <h1>{{title}}</h1>
                <h2>Director: {{director}}</h2>
                <h3>Stars</h3>
                <ul class="cast"> 
                    {{#stars}}
                    <li>{{this}}</li>
                    {{/stars}}
                </ul>
                <p class="description">{{description}}</p>
                <div class="times_container">
                    {{#showtimes}}
                    <p class="times">{{this}} |</p>
                    {{/showtimes}}
                </div>
            </div>
        </div>
    </div>
{{/each}} 