<form method="get" action="/movies/{{_id}}/detail" class="detailContainer">
  <img src="{{movies.image}}" alt="img" class="imageDetail">
  <ul class="listMovies">
    <li class="detailTextTitle"> {{movies.title}}</li><br>
    <li class="detailText"> {{movies.director}}</li><br>
    <li class="detailText">{{movies.stars}}</li><br>
    <li class="detailText">{{movies.description}}</li><br>
    <li class="detailText">{{movies.showtimes}}</li><br>
  </ul>

</form>