
<a href="/movies">go back</a>

<img src="{{image}}" alt="">
<h2>{{title}}</h2>
<h3>Director: {{director}}</h3>

<h3>Estrellas</h3>
<ul>
<li>{{stars}}</li>
</ul>
<p>{{description}}</p>
<p>{{showtime}}</p>


