<div id="single-movie-container">
  <div id="movie-single-image">
    <img src="{{image}}" alt="{{title}}">
  </div>
  <div id="movie-single-info">
    <h3>{{title}}</h3>
    <p>{{director}}</p>
    <p>{{stars}}</p>
    <p>{{description}}</p>
    <p>{{showtimes}}</p>
    <a href="/movies">Go back</a>
  </div>
</div>