<div id="parent-content">
    <div id="single-image">
        <img src="{{image}}" alt="{{title}}">
    </div>
    <div id="single-content">
        <a href="/movies">Go back</a>
        <h2>{{title}}</h2>
        <h3>{{director}}</h3>
        <h4>Stars</h4>
        <ul>
            <li>{{stars}}</li>
        </ul>
        <p>{{description}}</p>
        <p>{{showtimes}}</p>
    </div>
</div>