<div class="single-movie-container">
  <div class="image">
    <img src="{{movie.image}}">
  </div>
  <div class="movie-info">
    <a href="/movies">Go back</a>
    <h1>{{movie.title}}</h1>
    <h2>Director: {{movie.director}}</h2>
    <h5>Stars:</h5>
    <ul>
        {{#each movie.stars}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <p>{{movie.showtimes}}</p>
  </div>
</div>