<main id="update-movie">

<h1>Update movie</h1>

<form action="/movies/{{movie._id}}" method="post">
  <label for="title">Title:</label><br>
  <input type="text" name="title" value="{{movie.title}}"><br>

  <label for="director">Director:</label><br>
  <input type="text" name="director" value="{{movie.director}}"><br>

  <label for="stars">Stars (separate multiple by comma):</label><br>
  <input type="text" name="stars" value="{{movie.stars}}"><br>

  <label for="image">Image:</label><br>
  <input type="text" name="image" value="{{movie.image}}"><br>

  <label for="description">Description:</label><br>
  <textarea type="text" name="description">{{movie.description}}</textarea><br>

  <label for="showtimes">Showtimes (separate multiple by comma):</label><br>
  <input type="text" name="showtimes" value="{{movie.showtimes}}"><br>

  <button class="button" type="submit">Submit</button>
</form>

</main>