<form action="/movie/update/{{movie._id}}" method="POST" class="mt-3" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title" class="text-white">Movie Name:</label>
    <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
  </div>
  <select class="form-control" id="directorId" name="directorId">
        {{#each directors}}
          <option value="{{_id}}">{{fullName}}</option>
        {{/each}}
      </select>
  <div class="form-group">
    <label for="description" class="text-white">Movie Description: </label>
    <input type="text" class="form-control" id="description" name="description" value="{{movie.description}}">
  </div>
  <div class="form-group">
    <label for="image" class="text-white">Movie Image:</label>
    <input type="file" class="form-control" id="image" name="image">
  </div>
  <div class="form-group">
    <label for="stars" class="text-white">Movie Stars:</label>
    <input type="text" class="form-control" id="stars" name="starone" value="{{movie.stars.[0]}}">
    <input type="text" class="form-control" id="stars" name="startwo" value="{{movie.stars.[1]}}">
    <input type="text" class="form-control" id="stars" name="starthree" value="{{movie.stars.[2]}}">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>