<div class="container">
  <div class="pictures">
    <img src="{{movie.image}}" alt="">
  </div>
  <div class="description">
    <h1>{{movie.title}}</h1>
    <h2>{{movie.director}}</h2>
    <h3>Stars</h3>
    <ul>
      {{#each movie.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{movie.description}}</p>
      {{#each movie.showtimes}}
        {{this}} |
      {{/each}}
  </div>
</div>
<a href="/movies"><button class="btn btn-sm btn-success">Back</button></a>