<div class="one-movie-container">

<h3>{{oneMovie.title}}</h3>

<p>Directed by {{oneMovie.director}}</p>

<img src="{{oneMovie.image}}" alt="{{oneMovie.title}} film poster" width="200px">

<p>Synopsis: {{oneMovie.description}}</p>

<p>Showtimes: {{oneMovie.showtimes}}</p>

<p>Starring {{oneMovie.stars}}</p>

</div>