{{#each movie}}
  <div>
    <h3>Title: {{this.title}}</h3>
    <p>director {{this.director}}</p>
    <p>image{{this.images}}</p>
   <p>description{{this.description}}</p>
   <p> showtimes{{this.showtimes}}</p>

  </div>
  
  
{{/each}}